<div id="progressBar">
	<div class="loader"></div>
</div> 
<div class="breadcrumbs">
	<ul>
		<li><a href="#/" title="">Home</a></li>
		<li><a href="#/dashboard-4" title="">Dashboard 4</a></li>
	</ul>
</div>

<div class="heading-sec">
	<div class="row">
		<div class="col-md-4 column">
			<div class="heading-profile">
				<h2>Hi <span>John</span>, Welcome back</h2>
				<span>Very detailed & featured admin.</span>
			</div>
		</div>
		<div class="col-md-8 column">
			<div class="top-bar-chart">
				<div class="quick-report">
					<div class="quick-report-infos">
						<p>My Balance</p>
						<h3>$21,561.21</h3>
					</div>
					<span class="bar2">5,7,4,6,9,10,13,6,5,4,7,6,5,3</span>
				</div>
				<div class="quick-report">
					<div class="quick-report-infos">
						<p>New orders</p>
						<h3>17,561</h3>
					</div>
					<span class="bar">2,3,7,4,6,9,5,4,3,4,6,4,2</span>
				</div>
			</div><!-- Top Bar Chart -->
		</div>
	</div>
</div><!-- Top Bar Chart -->

<div class="panel-content">
	<div class="row">
		<div class="col-md-12">
			<div class="widget">
				<div class="visitor-country">
					<div id="vmap"></div>
					<div class="visitor-country-list">
						<div class="widget-title">
							<h3>Visitor by Country</h3>
							<span>Visitors & Earnings</span>
						</div>
						<div class="map-table">
							<h3>Country</h3><h4>Visits</h4>
							<ul>
								<li><span>United Stats</span><i>23900</i></li>
								<li><span>Brazil</span><i>23900</i></li>
								<li><span>Russia</span><i>15890</i></li>
								<li><span>France</span><i>98001</i></li>		
								<li><span>Canada</span><i>65823</i></li>
								<li><span>Saudia</span><i>22015</i></li>	
								
							</ul>
						</div>
					</div>
				</div><!-- Visitor Country -->
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<div class="widget">
				<div class="save-draft">
					<div class="widget-title">
						<h3>Save your Draft</h3>
						<span>Very easy & simple</span>
					</div>
					<form>
						<input type="text" placeholder="Title" />
						<input type="text" placeholder="Email" />
						<textarea placeholder="Description" />
						<input type="submit" value="Save now" />
					</form>
				</div><!-- Save Draft -->
			</div>
		</div>
		<div class="col-md-8">
			<div class="widget">
				<div class="recent-comment-sec">
					<div class="widget-title">
						<h3>Recent Comments</h3>
						<span>456 comments are pending</span>
					</div>
					<div class="comments-scroll">
						<ul>
							<li>
								<div class="recent-comment">
									<div class="comments-avatar">
										<img src="images/resource/comment.jpg" alt="" />
									</div>
									<div class="comment-detail">
										<span><a href="#" title="">Admin</a> Commented on this <a href="#" title="">how to make cake</a></span>
										<p>Rinter took a galley of type and scrambled it to make theme to useful</p>
										<a href="#" title="" class="red-skin">Reply</a> <i>Date : 25-5-2013</i>
									</div>
								</div>
							</li>
							<li>
								<div class="recent-comment">
									<div class="comments-avatar">
										<img src="images/resource/comment2.jpg" alt="" />
									</div>
									<div class="comment-detail">
										<span><a href="#" title="">Admin</a> Commented on this <a href="#" title="">how to make cake</a></span>
										<p>Rinter took a galley of type and scrambled it to make theme to useful</p>
										<a href="#" title="" class="red-skin">Reply</a> <i>Date : 25-5-2013</i>
									</div>
								</div>
							</li>
							<li>
								<div class="recent-comment">
									<div class="comments-avatar">
										<img src="images/resource/comment3.jpg" alt="" />
									</div>
									<div class="comment-detail">
										<span><a href="#" title="">Admin</a> Commented on this <a href="#" title="">how to make cake</a></span>
										<p>Rinter took a galley of type and scrambled it to make theme to useful</p>
										<a href="#" title="" class="red-skin">Reply</a> <i>Date : 25-5-2013</i>
									</div>
								</div>
							</li>
						</ul>
					</div>	
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="mini-stats-sec">
				<div class="row">
					<div class="col-md-3">
						<div class="widget">
							<div class="widget-controls">
								<span class="refresh-content"><i class="fa fa-refresh"></i></span>
							</div><!-- Widget Controls -->
							<div class="mini-stats ">
								<span class="red-skin"><i class="fa fa-area-chart"></i></span>
								<p><i class="fa  fa-arrow-up up"></i> Today Views</p>
								<h3>22,520</h3>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="widget">
							<div class="widget-controls">
								<span class="refresh-content"><i class="fa fa-refresh"></i></span>
							</div><!-- Widget Controls -->
							<div class="mini-stats ">
								<span class="sky-skin"><i class="fa fa-usd"></i></span>
								<p><i class="fa  fa-arrow-down down"></i> Revenue</p>
								<h3>1,425</h3>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="widget">
							<div class="widget-controls">
								<span class="refresh-content"><i class="fa fa-refresh"></i></span>
							</div><!-- Widget Controls -->
							<div class="mini-stats ">
								<span class="purple-skin"><i class="fa fa-bullhorn"></i></span>
								<p><i class="fa  fa-arrow-down down"></i> Item Sales</p>
								<h3>6,101</h3>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="widget">
							<div class="widget-controls">
								<span class="refresh-content"><i class="fa fa-refresh"></i></span>
							</div><!-- Widget Controls -->
							<div class="mini-stats ">
								<span class="pink-skin"><i class="fa fa-shopping-cart"></i></span>
								<p><i class="fa  fa-arrow-up up"></i> New Orders</p>
								<h3>5,218</h3>
							</div>
						</div>
					</div>
				</div>
			</div><!-- Mini stats Sec -->
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<div class="widget">
				<div class="pie-chart-sec">
					<div class="widget-title">
						<h3>Browser Viewed</h3>
						<span>Most Browser viewed</span>
					</div>
					<div class="most-browsers">
						<div class="pieID pie">
					    </div>
					    <ul class="pieID legend">
					      <li>
					        <em>Chrome</em>
					        <span>718</span>
					      </li>
					      <li>
					        <em>Firefox</em>
					        <span>531</span>
					      </li>
					      <li>
					        <em>Opera</em>
					        <span>868</span>
					      </li>
					      <li>
					        <em>Safari</em>
					        <span>344</span>
					      </li>
					      <li>
					        <em>Explorer</em>
					        <span>1145</span>
					      </li>
					    </ul>
					</div>
				</div>
			</div><!-- Widget -->
		</div>
		<div class="col-md-4">
			<div class="widget">
				<div class="revenew-browser">
					<div class="widget-title">
						<h3>Revenew by Browser</h3>
						<span>Which browser is</span>
					</div>
					<ul>
						<li>
							<div class="browser-detail">
								<img src="images/resource/chrome.png" alt="" />
								<h3>Chrome</h3>
								<span>45% <i class="fa fa-arrow-up up"></i></span>
								<span>30% <i class="fa fa-arrow-down down"></i></span>
							</div>
							<span class="line">5,3,9,6,5,9,7,3,5,2</span>
						</li>
						<li>
							<div class="browser-detail">
								<img src="images/resource/firefox.png" alt="" />
								<h3>Firefox</h3>
								<span>24% <i class="fa fa-arrow-up up"></i></span>
								<span>34% <i class="fa fa-arrow-down down"></i></span>
							</div>
							<span class="line">7,5,10,6,8,4,6,2,5,4</span>
						</li>
						<li>
							<div class="browser-detail">
								<img src="images/resource/explorer.png" alt="" />
								<h3>Explorer</h3>
								<span>89% <i class="fa fa-arrow-up up"></i></span>
								<span>12% <i class="fa fa-arrow-down down"></i></span>
							</div>
							<span class="line">6,4,7,9,2,5,10,6,2,7</span>
						</li>
					</ul>
				</div><!-- Our Clients Sec -->
			</div><!-- Widget -->
		</div>
		<div class="col-md-4">
			<div class="widget">
				<div class="social-counter">
					<div class="widget-title">
						<h3>Social Visitor</h3>
						<span>Lets count this</span>
					</div>
					<div class="social-widget">
						<ul>
							<li>
								<i class="fa fa-facebook"></i> <span>Today</span><h5>2,565 <i class="fa fa-arrow-up up"></i></h5>
							</li>
							<li>
								<i class="fa fa-google-plus"></i> <span>Today</span><h5>156 <i class="fa fa-arrow-down down"></i></h5>
							</li>
							<li>
								<i class="fa fa-pinterest"></i> <span>Today</span><h5>1,456 <i class="fa fa-arrow-down down"></i></h5>
							</li>
							<li>
								<i class="fa fa-twitter"></i> <span>Today</span><h5>701 <i class="fa fa-arrow-up up"></i></h5>
							</li>
						</ul>
						<span>TOTAL : 58,250</span>
					</div><!-- Social Widget -->
				</div><!-- Social Counter -->
			</div>
		</div>
	</div>
	
</div><!-- Panel Content -->

<script type="text/javascript">
    $(document).ready(function(){
    
    "use strict";

    //*** Map Jvector ***//
    	jQuery('#vmap').vectorMap({
          	map: 'usa_en',
		    backgroundColor: '#ffffff',
		    borderColor: '#818181',
		    borderOpacity: 0.25,
		    borderWidth: 0.25,
		    color: '#c6d3e0',
		    colors: {
		        mo: '#a8b2bd',
		        fl: '#a8b2bd',
		        or: '#a8b2bd'
		    },
		    enableZoom: true,
		    showLabels: true,
		    hoverColor: '#b9c7d5',
		    hoverOpacity: null,
		    normalizeFunction: 'linear',
		    scaleColors: ['#b6d6ff', '#005ace'],
		    selectedColor: '#b9c7d5',
		    selectedRegions: [],
		    showTooltip: true,
		    onRegionClick: function(element, code, region)
		    {
		        var message = 'You clicked "'
		            + region
		            + '" which has the code: '
		            + code.toUpperCase();

		        alert(message);
		    }
        });

    //***** Comment Widget Scroll *****//
    $(function(){
        $('.comments-scroll').slimScroll({
            height: '250px',
            wheelStep: 10,
            size: '2px'
        });
    });	

    	//*** Piety Mini Charts ***//
    	$(function() {
  			$(".bar").peity("bar", {
			  fill: ["#ff8484"],
			  height: ["40px"],
			  width: ["94px"]
			})

			$(".bar2").peity("bar", {
			  fill: ["#9797ff"],
			  height: ["40px"],
			  width: ["94px"]
			})

			$(".line").peity("line", {
			  fill: ["#f2f7f9"],
			  height: ["27px"],
			  width: ["100"],
			  stroke: ["#7dc9f0"]
			})

  		});

    	//*** Pie Charts ***//
		function sliceSize(dataNum, dataTotal) {
		  return (dataNum / dataTotal) * 360;
		}
		function addSlice(sliceSize, pieElement, offset, sliceID, color) {
		  $(pieElement).append("<div class='slice "+sliceID+"'><span></span></div>");
		  var offset = offset - 1;
		  var sizeRotation = -158 + sliceSize;
		  $("."+sliceID).css({
		    "transform": "rotate("+offset+"deg) translate3d(0,0,0)"
		  });
		  $("."+sliceID+" span").css({
		    "transform"       : "rotate("+sizeRotation+"deg) translate3d(0,0,0)",
		    "background-color": color
		  });
		}
		function iterateSlices(sliceSize, pieElement, offset, dataCount, sliceCount, color) {
		  var sliceID = "s"+dataCount+"-"+sliceCount;
		  var maxSize = 158;
		  if(sliceSize<=maxSize) {
		    addSlice(sliceSize, pieElement, offset, sliceID, color);
		  } else {
		    addSlice(maxSize, pieElement, offset, sliceID, color);
		    iterateSlices(sliceSize-maxSize, pieElement, offset+maxSize, dataCount, sliceCount+1, color);
		  }
		}
		function createPie(dataElement, pieElement) {
		  var listData = [];
		  $(dataElement+" span").each(function() {
		    listData.push(Number($(this).html()));
		  });
		  var listTotal = 0;
		  for(var i=0; i<listData.length; i++) {
		    listTotal += listData[i];
		  }
		  var offset = 0;
		  var color = [
		    "#ff6b6b", 
		    "#63d6ff", 
		    "#6e6eff", 
		    "#f76fff", 
		    "#ffb48f", 
		  ];
		  for(var i=0; i<listData.length; i++) {
		    var size = sliceSize(listData[i], listTotal);
		    iterateSlices(size, pieElement, offset, i, 0, color[i]);
		    $(dataElement+" li:nth-child("+(i+1)+")").css("border-color", color[i]);
		    offset += size;
		  }
		}
		createPie(".pieID.legend", ".pieID.pie");
		
    	
    });

</script>
