<div id="progressBar">
	<div class="loader"></div>
</div> 
<div class="breadcrumbs">
	<ul>
		<li><a href="#/" title="">Home</a></li>
		<li><a href="#/dashboard-2" title="">Dashboard 2</a></li>
	</ul>
</div>

<div class="heading-sec">
	<div class="row">
		<div class="col-md-4 column">
			<div class="heading-profile">
				<h2>Hi <span>John</span>, Welcome back</h2>
				<span>Very detailed & featured admin.</span>
			</div>
		</div>
		<div class="col-md-8 column">
			<div class="top-bar-chart">
				<div class="quick-report">
					<div class="quick-report-infos">
						<p>My Balance</p>
						<h3>$21,561.21</h3>
					</div>
					<span class="bar2">5,7,4,6,9,10,13,6,5,4,7,6,5,3</span>
				</div>
				<div class="quick-report">
					<div class="quick-report-infos">
						<p>New orders</p>
						<h3>17,561</h3>
					</div>
					<span class="bar">2,3,7,4,6,9,5,4,3,4,6,4,2</span>
				</div>
			</div><!-- Top Bar Chart -->
		</div>
	</div>
</div><!-- Top Bar Chart -->

<div class="panel-content">
	<div class="row">
		<div class="col-md-12">
			<div class="widget">
				<div class="widget-controls">
					<span class="close-content"><i class="fa fa-trash-o"></i></span>
				</div><!-- Widget Controls -->
				<div class="welcome-bar">
					<i class="fa fa-bullhorn orange-skin"></i>
					<p>A new admin template has been released by <span>Webinane</span> with a name <span>Anchor</span> is now </br>live and available for purchase!</p>
					<span>Explore this new template and see the beauty of Quirk! <a href="#" title="">Take a Tour!</a></span>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8">
			<div class="widget">
				<div class="widget-controls">
					<span class="refresh-content"><i class="fa fa-refresh"></i></span>
				</div><!-- Widget Controls -->
				<div class="server-status-sec">
					<div class="server-details">
						<span>Server Loads</span>
						<h3><span id="number">68</span>%</h3>
						<p>4 of 9 core used</p>
						<h5>Status : <Span>GOOD</span></h5>
						<div class="server-chart">
							<div class="updating-chart">5,3,9,6,5,9,7,3,5,2,5,3,9,6,5,9,7,3,5,2</div>
						</div>
						<a href="#" title="" class="purple-skin">Optimize now</a>
					</div>
					<div id="area-chart" ></div>
				</div>
			</div><!-- Total Sales Made -->
		</div>
		<div class="col-md-4">
			<div class="widget">
				<div class="widget-controls">
					<span class="close-content"><i class="fa fa-trash-o"></i></span>
					<span class="expand-content"><i class="fa fa-expand"></i></span>
					<span class="refresh-content"><i class="fa fa-refresh"></i></span>
				</div>
				<div class="task-managment">
					<div class="widget-title">
						<h3>Your Tasks</h3>
						<span>15 Tasks is pending..</span>
					</div>
					<form class="add-task-item">
				        <input type="text" name="item" id="task-item" placeholder="Add you Task" /> 
				       	<div id="itembutton"> <button id="addEventAdder"><i class="fa fa-plus"></i></button></div>
				    </form>
					<ol id ="listitems">
						<li><i class="red-skin"></i>Add widget to another site<span class="fa fa-close"></span></li>
						<li><i class="sky-skin"></i>Update the server no 2<span class="fa fa-close"></span></li>
						<li class="active"><i class="purple-skin"></i>Clean all junks now<span class="fa fa-close"></span></li>
						<li><i class="sky-skin"></i>Admin Template optimize<span class="fa fa-close"></span></li>
						<li class="active"><i class="red-skin"></i>Set record on piano tiles 2<span class="fa fa-close"></span></li>
					</ol>
				</div><!-- Task Management -->

			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="mini-stats-sec">
				<div class="row">
					<div class="col-md-3">
						<div class="widget">
							<div class="widget-controls">
								<span class="refresh-content"><i class="fa fa-refresh"></i></span>
							</div><!-- Widget Controls -->
							<div class="mini-stats ">
								<span class="red-skin"><i class="fa fa-area-chart"></i></span>
								<p><i class="fa  fa-arrow-up up"></i> Today Views</p>
								<h3>22,520</h3>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="widget">
							<div class="widget-controls">
								<span class="refresh-content"><i class="fa fa-refresh"></i></span>
							</div><!-- Widget Controls -->
							<div class="mini-stats ">
								<span class="sky-skin"><i class="fa fa-usd"></i></span>
								<p><i class="fa  fa-arrow-down down"></i> Revenue</p>
								<h3>1,425</h3>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="widget">
							<div class="widget-controls">
								<span class="refresh-content"><i class="fa fa-refresh"></i></span>
							</div><!-- Widget Controls -->
							<div class="mini-stats ">
								<span class="purple-skin"><i class="fa fa-bullhorn"></i></span>
								<p><i class="fa  fa-arrow-down down"></i> Item Sales</p>
								<h3>6,101</h3>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="widget">
							<div class="widget-controls">
								<span class="refresh-content"><i class="fa fa-refresh"></i></span>
							</div><!-- Widget Controls -->
							<div class="mini-stats ">
								<span class="pink-skin"><i class="fa fa-shopping-cart"></i></span>
								<p><i class="fa  fa-arrow-up up"></i> New Orders</p>
								<h3>5,218</h3>
							</div>
						</div>
					</div>
				</div>
			</div><!-- Mini stats Sec -->
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<div class="widget">
				<div class="pie-chart-sec">
					<div class="widget-title">
						<h3>Browser Viewed</h3>
						<span>Most Browser viewed</span>
					</div>
					<div class="most-browsers">
						<div class="pieID pie">
					    </div>
					    <ul class="pieID legend">
					      <li>
					        <em>Chrome</em>
					        <span>718</span>
					      </li>
					      <li>
					        <em>Firefox</em>
					        <span>531</span>
					      </li>
					      <li>
					        <em>Opera</em>
					        <span>868</span>
					      </li>
					      <li>
					        <em>Safari</em>
					        <span>344</span>
					      </li>
					      <li>
					        <em>Explorer</em>
					        <span>1145</span>
					      </li>
					    </ul>
					</div>
				</div>
			</div><!-- Widget -->
		</div>
		<div class="col-md-4">
			<div class="widget">
				<div class="revenew-browser">
					<div class="widget-title">
						<h3>Revenew by Browser</h3>
						<span>Which browser is</span>
					</div>
					<ul>
						<li>
							<div class="browser-detail">
								<img src="images/resource/chrome.png" alt="" />
								<h3>Chrome</h3>
								<span>45% <i class="fa fa-arrow-up up"></i></span>
								<span>30% <i class="fa fa-arrow-down down"></i></span>
							</div>
							<span class="line">5,3,9,6,5,9,7,3,5,2</span>
						</li>
						<li>
							<div class="browser-detail">
								<img src="images/resource/firefox.png" alt="" />
								<h3>Firefox</h3>
								<span>24% <i class="fa fa-arrow-up up"></i></span>
								<span>34% <i class="fa fa-arrow-down down"></i></span>
							</div>
							<span class="line">7,5,10,6,8,4,6,2,5,4</span>
						</li>
						<li>
							<div class="browser-detail">
								<img src="images/resource/explorer.png" alt="" />
								<h3>Explorer</h3>
								<span>89% <i class="fa fa-arrow-up up"></i></span>
								<span>12% <i class="fa fa-arrow-down down"></i></span>
							</div>
							<span class="line">6,4,7,9,2,5,10,6,2,7</span>
						</li>
					</ul>
				</div><!-- Our Clients Sec -->
			</div><!-- Widget -->
		</div>
		<div class="col-md-4">
			<div class="widget">
				<div class="social-counter">
					<div class="widget-title">
						<h3>Social Visitor</h3>
						<span>Lets count this</span>
					</div>
					<div class="social-widget">
						<ul>
							<li>
								<i class="fa fa-facebook"></i> <span>Today</span><h5>2,565 <i class="fa fa-arrow-up up"></i></h5>
							</li>
							<li>
								<i class="fa fa-google-plus"></i> <span>Today</span><h5>156 <i class="fa fa-arrow-down down"></i></h5>
							</li>
							<li>
								<i class="fa fa-pinterest"></i> <span>Today</span><h5>1,456 <i class="fa fa-arrow-down down"></i></h5>
							</li>
							<li>
								<i class="fa fa-twitter"></i> <span>Today</span><h5>701 <i class="fa fa-arrow-up up"></i></h5>
							</li>
						</ul>
						<span>TOTAL : 58,250</span>
					</div><!-- Social Widget -->
				</div><!-- Social Counter -->
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="widget">
				<div class="visitor-country">
					<div id="vmap"></div>
					<div class="visitor-country-list">
						<div class="widget-title">
							<h3>Visitor by Country</h3>
							<span>Visitors & Earnings</span>
						</div>
						<div class="map-table">
							<h3>Country</h3><h4>Visits</h4>
							<ul>
								<li><span>United Stats</span><i>23900</i></li>
								<li><span>Brazil</span><i>23900</i></li>
								<li><span>Russia</span><i>15890</i></li>
								<li><span>France</span><i>98001</i></li>		
								<li><span>Canada</span><i>65823</i></li>
								<li><span>Saudia</span><i>22015</i></li>	
								
							</ul>
						</div>
					</div>
				</div><!-- Visitor Country -->
			</div>
		</div>
	</div>
</div><!-- Panel Content -->
<script type="text/javascript">
    $(document).ready(function(){
    
    "use strict";	

    	//*** Map Jvector ***//
    	jQuery('#vmap').vectorMap({
          	map: 'usa_en',
		    backgroundColor: '#ffffff',
		    borderColor: '#818181',
		    borderOpacity: 0.25,
		    borderWidth: 0.25,
		    color: '#c6d3e0',
		    colors: {
		        mo: '#a8b2bd',
		        fl: '#a8b2bd',
		        or: '#a8b2bd'
		    },
		    enableZoom: true,
		    showLabels: true,
		    hoverColor: '#b9c7d5',
		    hoverOpacity: null,
		    normalizeFunction: 'linear',
		    scaleColors: ['#b6d6ff', '#005ace'],
		    selectedColor: '#b9c7d5',
		    selectedRegions: [],
		    showTooltip: true,
		    onRegionClick: function(element, code, region)
		    {
		        var message = 'You clicked "'
		            + region
		            + '" which has the code: '
		            + code.toUpperCase();

		        alert(message);
		    }
        });


    	//*** Random Numbers ***//
		function generate() {
			$('#number').text(Math.floor(Math.random() * 100) + 1);
		}
		setInterval(generate, 1000);

    	//*** Piety Mini Charts ***//
    	$(function() {
  			$(".bar").peity("bar", {
			  fill: ["#ff8484"],
			  height: ["40px"],
			  width: ["94px"]
			})

			$(".bar2").peity("bar", {
			  fill: ["#9797ff"],
			  height: ["40px"],
			  width: ["94px"]
			})

			$(".line").peity("line", {
			  fill: ["#f2f7f9"],
			  height: ["27px"],
			  width: ["100"],
			  stroke: ["#7dc9f0"]
			})

  		});


  		//*** Pie Charts ***//
		function sliceSize(dataNum, dataTotal) {
		  return (dataNum / dataTotal) * 360;
		}
		function addSlice(sliceSize, pieElement, offset, sliceID, color) {
		  $(pieElement).append("<div class='slice "+sliceID+"'><span></span></div>");
		  var offset = offset - 1;
		  var sizeRotation = -158 + sliceSize;
		  $("."+sliceID).css({
		    "transform": "rotate("+offset+"deg) translate3d(0,0,0)"
		  });
		  $("."+sliceID+" span").css({
		    "transform"       : "rotate("+sizeRotation+"deg) translate3d(0,0,0)",
		    "background-color": color
		  });
		}
		function iterateSlices(sliceSize, pieElement, offset, dataCount, sliceCount, color) {
		  var sliceID = "s"+dataCount+"-"+sliceCount;
		  var maxSize = 158;
		  if(sliceSize<=maxSize) {
		    addSlice(sliceSize, pieElement, offset, sliceID, color);
		  } else {
		    addSlice(maxSize, pieElement, offset, sliceID, color);
		    iterateSlices(sliceSize-maxSize, pieElement, offset+maxSize, dataCount, sliceCount+1, color);
		  }
		}
		function createPie(dataElement, pieElement) {
		  var listData = [];
		  $(dataElement+" span").each(function() {
		    listData.push(Number($(this).html()));
		  });
		  var listTotal = 0;
		  for(var i=0; i<listData.length; i++) {
		    listTotal += listData[i];
		  }
		  var offset = 0;
		  var color = [
		    "#ff6b6b", 
		    "#63d6ff", 
		    "#6e6eff", 
		    "#f76fff", 
		    "#ffb48f", 
		  ];
		  for(var i=0; i<listData.length; i++) {
		    var size = sliceSize(listData[i], listTotal);
		    iterateSlices(size, pieElement, offset, i, 0, color[i]);
		    $(dataElement+" li:nth-child("+(i+1)+")").css("border-color", color[i]);
		    offset += size;
		  }
		}
		createPie(".pieID.legend", ".pieID.pie");

		//*** Live Updating Chart ***//
  		var updatingChart = $(".updating-chart").peity("line", { 
  			width: ["100px"],
  			 fill: ["#b8b8ff"],
  			 stroke: ["#8181ff"],
  			 height: ["40px"]
  			})
		setInterval(function() {
		  var random = Math.round(Math.random() * 10)
		  var values = updatingChart.text().split(",")
		  values.shift()
		  values.push(random)

		  updatingChart
		    .text(values.join(","))
		    .change()
		}, 1000)

    	//*** Server Chart ***//
        var data = [
	        { y: '2005', a: 50, b: 90},
	        { y: '2006', a: 65,  b: 75},
	        { y: '2007', a: 50,  b: 50},
	        { y: '2008', a: 75,  b: 60},
	        { y: '2009', a: 80,  b: 65},
	        { y: '2010', a: 90,  b: 70},
	        { y: '2011', a: 100, b: 75},
	        { y: '2012', a: 115, b: 75},
	        { y: '2013', a: 120, b: 85},
	        { y: '2014', a: 145, b: 85},
	        { y: '2014', a: 160, b: 95}
	      ],
	      config = {
	        data: data,
	        xkey: 'y',
	        ykeys: ['a', 'b'],
	        labels: ['Server 1', 'Server 2'],
	        fillOpacity: 0.7,
	        hideHover: 'auto',
	        behaveLikeLine: true,
	        resize: true,
	        pointFillColors:['#ffffff'],
	        pointStrokeColors: ['gray'],
	        lineColors:['#b8b8ff','#ffb8b8']
	    };
	    config.element = 'area-chart';
	    Morris.Area(config);


	//*** Task lists ***//
	$('.task-managment > ol > li').on("click", function(){
		$(this).toggleClass('active');
	});

	//*** Task List Deleted ***//
	$('.task-managment > ol > li > span').on("click", function(){
		$(this).parent().slideUp();
	});

	 var counter = 0;
	$('button#addEventAdder, button#addEventAdder > i').on('click',function(){
		var classes = ["red-skin", "sky-skin", "purple-skin", "pink-skin", "orange-skin"];
		var ul = $('ol#listitems');
		var item = $('input#task-item').val();
	    if(item !== '' && item !== 'undefined' ){
	    	if(counter == classes.length){
				counter = 0;
			}
	    	$(ul).prepend('<li><i class="empty"></i>'+item+'<span class="fa fa-close"></span></li>');
			$('.task-managment > ol > li').on("click", function(){
				$(this).toggleClass('active');
			});
			$('.task-managment > ol > li > span').on("click", function(){
				$(this).parent().slideUp();
			});
	    	$('input#task-item').addClass('null');
	    	$('input#task-item').val('');
	    	$('input#task-item').focus();
	    	var attribute = $("ol#listitems").children('li').eq(0).children('i');
			$(attribute).attr('class', classes[counter]);
			counter++;
	    }
	    
	});


    });

</script>
