<div id="progressBar">
	<div class="loader"></div>
</div> 
<div class="breadcrumbs">
	<ul>
		<li><a href="#/" title="">Home</a></li>
		<li><a href="#/dashboard-3" title="">Dashboard 3</a></li>
	</ul>
</div>

<div class="heading-sec">
	<div class="row">
		<div class="col-md-4 column">
			<div class="heading-profile">
				<h2>Hi <span>John</span>, Welcome back</h2>
				<span>Very detailed & featured admin.</span>
			</div>
		</div>
		<div class="col-md-8 column">
			<div class="top-bar-chart">
				<div class="quick-report">
					<div class="quick-report-infos">
						<p>My Balance</p>
						<h3>$21,561.21</h3>
					</div>
					<span class="bar2">5,7,4,6,9,10,13,6,5,4,7,6,5,3</span>
				</div>
				<div class="quick-report">
					<div class="quick-report-infos">
						<p>New orders</p>
						<h3>17,561</h3>
					</div>
					<span class="bar">2,3,7,4,6,9,5,4,3,4,6,4,2</span>
				</div>
			</div><!-- Top Bar Chart -->
		</div>
	</div>
</div><!-- Top Bar Chart -->

<div class="panel-content">
	<div class="row">
		<div class="col-md-4">
			<div class="widget">
				<div class="widget-controls">
					<span class="refresh-content"><i class="fa fa-refresh"></i></span>
				</div><!-- Widget Controls -->
				<div class="product-stats">
					<h3>Our Sales</h3>
					<span>$1.890,65 <i>Total</i></span>
					<ul>
						<li>
							Today Sales
							<span>+$432,50</span>
						</li>
						<li>
							Time
							<span>6:30 AM</span>
						</li>
					</ul>
					<a href="#" title="" class="purple-skin">View Report</a>
				</div><!-- Product Stats -->
			</div>
		</div>
		<div class="col-md-4">
			<div class="widget">
				<div class="widget-controls">
					<span class="refresh-content"><i class="fa fa-refresh"></i></span>
				</div><!-- Widget Controls -->
				<div class="product-stats">
					<h3>Site Visitor</h3>
					<span>583,00 <i>Total</i></span>
					<ul>
						<li>
							Today Visitor
							<span>+112,78</span>
						</li>
						<li>
							New
							<span>1,253</span>
						</li>
					</ul>
					<a href="#" title="" class="red-skin">View Report</a>
				</div><!-- Product Stats -->
			</div>
		</div>
		<div class="col-md-4">
			<div class="widget">
				<div class="widget-controls">
					<span class="refresh-content"><i class="fa fa-refresh"></i></span>
				</div><!-- Widget Controls -->
				<div class="product-stats">
					<h3>Returning</h3>
					<span>663,589 <i>Total</i></span>
					<ul>
						<li>
							Returning
							<span>+1,253</span>
						</li>
						<li>
							Time
							<span>8:46 PM</span>
						</li>
					</ul>
					<a href="#" title="" class="pink-skin">View Report</a>
				</div><!-- Product Stats -->
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="widget">
				<div class="widget-controls">
					<span class="close-content"><i class="fa fa-trash-o"></i></span>
					<span class="expand-content"><i class="fa fa-expand"></i></span>
					<span class="refresh-content"><i class="fa fa-refresh"></i></span>
				</div><!-- Widget Controls -->
				<div class="activity-sec">
					<div class="widget-title">
						<h3>Activities</h3>
						<span>Your last activity is posted 4 hours ago</span>
					</div>
					<div id="graph-wrapper">
						<div class="graph-info">
							<a href="" class="visitors"><span class="red-skin"></span>Visitors</a>
							<a href="" class="returning"><span class="purple-skin"></span>Returning Visitors</a>
						</div>
						<div class="graph-container">
							<canvas id="chart"></canvas>
						</div>
						<div class="graph-details">
							<ul>
								<li><span class="red-skin">+5.00%</span><strong>$5,450</strong><p>Average of $450.35 Per Day</p></li>
								<li><span class="purple-skin">+5.00%</span><strong>1,120</strong><p>Total Visitors : 2,58,256,00</p></li>
							</ul>
						</div>
					</div>	
				</div><!-- Activity Sec -->
			</div><!-- Widget -->
		</div>
		<div class="col-md-6">
			<div class="widget">
				<div class="add-content-form">
					<textarea></textarea>
					<div class="add-content">
						<ul>
							<li><a href="#" title=""><i class="fa fa-location-arrow"></i></a></li>
							<li><a href="#" title=""><i class="fa fa-microphone"></i></a></li>
							<li><a href="#" title=""><i class="fa fa-picture-o"></i></a></li>
							<li><a href="#" title=""><i class="fa fa-cloud-upload"></i></a></li>
						</ul>
						<button type="submit">POST</button>
					</div>
				</div>
			</div>
			<div class="widget">
				<div class="tasks-progress">
					<div class="widget-title">
						<h3>Tasks in Progress</h3>
						<span>Your tasks is here</span>
					</div>
					<ul>
						<li>
							<span>Update JQuery</span>
							<div class="progress"> <div style="width:84%; background:#ff6b6b;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="84" role="progressbar" class="progress-bar"></div> </div>
						</li>
						<li>
							<span>Server Updating 256</span>
							<div class="progress"> <div style="width:45%; background:#63d6ff;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="45" role="progressbar" class="progress-bar"></div> </div>
						</li>
						<li>
							<span>Fontawesome</span>
							<div class="progress"> <div style="width:68%; background:#6e6eff;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="68" role="progressbar" class="progress-bar"></div> </div>
						</li>
						<li>
							<span>Latest jQuery</span>
							<div class="progress"> <div style="width:75%; background:#f76fff;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="75" role="progressbar" class="progress-bar"></div> </div>
						</li>
						<li>
							<span>Google API</span>
							<div class="progress"> <div style="width:35%; background:#ffb48f;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="35" role="progressbar" class="progress-bar"></div> </div>
						</li>
						<li>
							<span>Montsiser</span>
							<div class="progress"> <div style="width:55%; background:#555555;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="55" role="progressbar" class="progress-bar"></div> </div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="widget no-color">
				<div class="activity-feed">
					<div class="widget-title">
						<h3>Tasks in Progress</h3>
						<span>Your tasks is here</span>
					</div>
					<ul class="activity-timeline">
						<li>
							<span class="user-device"><i class="fa fa-mobile"></i></span>
							<div class="user-activity">
								<div class="who-post-this">
									<span><img src="images/resource/user.jpg" alt="" /></span>
									<div class="who-post-detail">
										<h3><a href="#" title="">Diana Dare<i class="poster-status online"></i></a></h3>
										<span><a href="#" title="">Diana Dare</a> Posted 4 photos in <a href="#" title="">Beauty album</a></span>
										<i>2 minutes ago</i>
									</div>
								</div>
								<div class="post-content">
									<p>Dnim eiusmod high life...</p>
									<div class="post-gallery">
										<a href="images/preview.png" title="Preview Demo"><img src="images/resource/post-gallery.jpg" alt="" /></a>
										<a href="images/preview.png" title="Preview Demo"><img src="images/resource/post-gallery2.jpg" alt="" /></a>
										<a href="images/preview.png" title="Preview Demo"><img src="images/resource/post-gallery3.jpg" alt="" /></a>
										<a href="images/preview.png" title="Preview Demo"><img src="images/resource/post-gallery4.jpg" alt="" /></a>
									</div>
								</div>
								<div class="comment-form">
									<span><i class="fa fa-thumbs-o-up"></i> Like</span>
									<span><i class="fa fa-comment-o"></i> Comments</span>
									<form>
										<textarea placeholder="Add Commemts"></textarea>	
									</form>
								</div>
							</div>
						</li>
						<li>
							<span class="user-device"><i class="fa fa-laptop"></i></span>
							<div class="user-activity">
								<div class="who-post-this">
									<span><img src="images/resource/user2.jpg" alt="" /></span>
									<div class="who-post-detail">
										<h3><a href="#" title="">Janjo liyo<i class="poster-status online"></i></a></h3>
										<span><a href="#" title="">Janjo liyo</a> Post a text in his <a href="#" title="">Profile</a></span>
										<i>6 minutes ago</i>
									</div>
								</div>
								<div class="post-content">
									<p>Dnim eiusm ni eiusmod high life accusamus terry richardson ad squid. 3 wolfmoon officia aute, cupidatat od high life...</p>
								</div>
								<div class="comment-form">
									<span><i class="fa fa-thumbs-o-up"></i> Like</span>
									<span><i class="fa fa-comment-o"></i> Comments</span>
									<form>
										<textarea placeholder="Add Commemts"></textarea>	
									</form>
								</div>
							</div>
						</li>
					</ul>
				</div><!-- Activity Feed -->
			</div>
		</div>
		<div class="col-md-6">
			<div class="widget">
				<div class="widget-carousel">
				    <ul>
						<li>
							<h3><strong>Steve Jobs</strong> Time Capsule` is them </br> Fialinlyo New to Reated Filao</br> earthed <strong>Skyace News</strong></h3>
							<span>2 minutes ago</span>
						</li>
						<li>
							<h3><strong>Steve Jobs</strong> Time Capsule` is them </br> Fialinlyo New to Reated Filao</br> earthed <strong>Skyace News</strong></h3>
							<span>2 minutes ago</span>
						</li>
						<li>
							<h3><strong>Steve Jobs</strong> Time Capsule` is them </br> Fialinlyo New to Reated Filao</br> earthed <strong>Skyace News</strong></h3>
							<span>2 minutes ago</span>
						</li>
				    </ul>
				</div><!-- Widget Carousel -->
			</div>
			<div class="mini-stats-sec">
				<div class="row">
					<div class="col-md-6">
						<div class="widget">
							<div class="widget-controls">
								<span class="refresh-content"><i class="fa fa-refresh"></i></span>
							</div><!-- Widget Controls -->
							<div class="mini-stats ">
								<span class="red-skin"><i class="fa fa-area-chart"></i></span>
								<p><i class="fa  fa-arrow-up up"></i> Today Views</p>
								<h3>22,520</h3>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="widget">
							<div class="widget-controls">
								<span class="refresh-content"><i class="fa fa-refresh"></i></span>
							</div><!-- Widget Controls -->
							<div class="mini-stats ">
								<span class="sky-skin"><i class="fa fa-usd"></i></span>
								<p><i class="fa  fa-arrow-down down"></i> Revenue</p>
								<h3>1,425</h3>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="widget">
							<div class="widget-controls">
								<span class="refresh-content"><i class="fa fa-refresh"></i></span>
							</div><!-- Widget Controls -->
							<div class="mini-stats ">
								<span class="purple-skin"><i class="fa fa-bullhorn"></i></span>
								<p><i class="fa  fa-arrow-down down"></i> Item Sales</p>
								<h3>6,101</h3>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="widget">
							<div class="widget-controls">
								<span class="refresh-content"><i class="fa fa-refresh"></i></span>
							</div><!-- Widget Controls -->
							<div class="mini-stats ">
								<span class="pink-skin"><i class="fa fa-shopping-cart"></i></span>
								<p><i class="fa  fa-arrow-up up"></i> New Orders</p>
								<h3>5,218</h3>
							</div>
						</div>
					</div>
				</div>
			</div><!-- Mini stats Sec -->
		</div>
	</div>
	
</div><!-- Panel Content -->
<script type="text/javascript">
    $(document).ready(function(){
    
    "use strict";

    //***** Twitter Widget Scroll *****//
    $(function(){
        $('.activity-feed').slimScroll({
            height: '556px',
            wheelStep: 10,
            size: '2px'
        });
    });
        
    //*** Widget Carousel ***//
    $('.widget-carousel').jcider({
	    looping: true, // For looping
	    variableWidth: false, // For variable width
	    variableHeight: true, // For variable height
	    fading: false, // For fading/sliding effect
	    easing: 'cubic-bezier(.694, .0482, .335, 1)', // For easing
	    transitionDuration: 400, // Duration of slide transition
	    autoplay: true, // Duh...
	    slideDuration: 3000, // Duration between each slide change in autoplay
	    controls: false, // For visibility of nav-arrows
	    controlsWrapper: 'div.jcider-nav', // Element for nav wrapper
	    controlsLeft: ['span.jcider-nav-left', ''], // Element for nav-left 
	    controlsRight: ['span.jcider-nav-right', ''], // Element for nav-right
	    pagination: true, // For visibility of pagination
	    paginationWrapper: 'div.jcider-pagination', // Element for pagination wrapper
	    paginationPoint: 'div.jcider-pagination-point' // Element for pagination points
	});

    //*** Timeline Gallery ***//
    $(function() {		
		var foo = $('.post-gallery');
		foo.poptrox({
			usePopupCaption: true
		});
	});

	//*** Activity Chart ***//
  	function updateChartData(object, data) {
	  for (var i = 0; i < data.length; i++) {
	    object[i].value = data[i];
	  }
	};

	var data = {
	    labels: ["January", "February", "March", "April", "May", "June", "July", "August", "September", "Octuber", "Noverber", "December"],
	    datasets: [
	        {
	            label: "My First dataset",
	            fillColor: "rgba(255,162,162,0.2)",
	            strokeColor: "rgba(255,162,162,1)",
	            pointColor: "rgba(255,162,162,1)",
	            pointStrokeColor: "#fff",
	            pointHighlightFill: "#fff",
	            pointHighlightStroke: "rgba(220,220,220,1)",
	            data: [65, 59, 120, 200, 130, 100, 180, 150, 120, 170, 210, 350]
	        },
	        {
	            label: "My Second dataset",
	            fillColor: "rgba(173,173,253,0.2)",
	            strokeColor: "rgba(173,173,253,1)",
	            pointColor: "rgba(173,173,253,1)",
	            pointStrokeColor: "#fff",
	            pointHighlightFill: "#fff",
	            pointHighlightStroke: "rgba(173,173,253,1)",
	            data: [100, 200, 150, 300, 90, 180, 350, 100, 400, 200, 50, 400]
	        }
	    ]
	};

	var ctx = document.getElementById("chart").getContext("2d");
	var myLineChart = new Chart(ctx).Line(data, {
	    multiTooltipTemplate: "<%= value %>%",
	    legendTemplate: '',
	    scaleShowLabels: false,
	  scaleShowGridLines : true,
	pointDotRadius : 6,

	    //Number - Pixel width of point dot stroke
	    pointDotStrokeWidth : 2,

	    //Number - amount extra to add to the radius to cater for hit detection outside the drawn point
	    pointHitDetectionRadius : 20,
	    //String - Colour of the grid lines
	    scaleGridLineColor : "rgba(0,0,0,.0)",


	    //Boolean - Whether to show horizontal lines (except X axis)
	    scaleShowHorizontalLines: true,

	    //Boolean - Whether to show vertical lines (except Y axis)
	    scaleShowVerticalLines: true,
	});	

    	//*** Piety Mini Charts ***//
    	$(function() {
  			$(".bar").peity("bar", {
			  fill: ["#ff8484"],
			  height: ["40px"],
			  width: ["94px"]
			})

			$(".bar2").peity("bar", {
			  fill: ["#9797ff"],
			  height: ["40px"],
			  width: ["94px"]
			})

  		});

    		//*** Task lists ***//
	$('.task-managment > ol > li').on("click", function(){
		$(this).toggleClass('active');
	});

	//*** Task List Deleted ***//
	$('.task-managment > ol > li > span').on("click", function(){
		$(this).parent().slideUp();
	});


    });

</script>
