<div id="progressBar">
	<div class="loader"></div>
</div> 
<div class="breadcrumbs">
	<ul>
		<li><a href="#/" title="">Home</a></li>
		<li><a href="#/" title="">Dashboard</a></li>
	</ul>
</div>

<div class="heading-sec">
	<div class="row">
		<div class="col-md-4 column">
			<div class="heading-profile">
				<h2>Hi <span>John</span>, Welcome back</h2>
				<span>Very detailed & featured admin.</span>
			</div>
		</div>
		<div class="col-md-8 column">
			<div class="top-bar-chart">
				<div class="quick-report">
					<div class="quick-report-infos">
						<p>My Balance</p>
						<h3>$21,561.21</h3>
					</div>
					<span class="bar2">5,7,4,6,9,10,13,6,5,4,7,6,5,3</span>
				</div>
				<div class="quick-report">
					<div class="quick-report-infos">
						<p>New orders</p>
						<h3>17,561</h3>
					</div>
					<span class="bar">2,3,7,4,6,9,5,4,3,4,6,4,2</span>
				</div>
			</div><!-- Top Bar Chart -->
		</div>
	</div>
</div><!-- Top Bar Chart -->

<div class="panel-content">
	<div class="row">
		<div class="col-md-6">
			<div class="mini-stats-sec">
				<div class="row">
					<div class="col-md-6">
						<div class="widget">
							<div class="widget-controls">
								<span class="refresh-content"><i class="fa fa-refresh"></i></span>
							</div><!-- Widget Controls -->
							<div class="mini-stats ">
								<span class="red-skin"><i class="fa fa-area-chart"></i></span>
								<p><i class="fa  fa-arrow-up up"></i> Today Views</p>
								<h3>22,520</h3>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="widget">
							<div class="widget-controls">
								<span class="refresh-content"><i class="fa fa-refresh"></i></span>
							</div><!-- Widget Controls -->
							<div class="mini-stats ">
								<span class="sky-skin"><i class="fa fa-usd"></i></span>
								<p><i class="fa  fa-arrow-down down"></i> Revenue</p>
								<h3>1,425</h3>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="widget">
							<div class="widget-controls">
								<span class="refresh-content"><i class="fa fa-refresh"></i></span>
							</div><!-- Widget Controls -->
							<div class="mini-stats ">
								<span class="purple-skin"><i class="fa fa-bullhorn"></i></span>
								<p><i class="fa  fa-arrow-down down"></i> Item Sales</p>
								<h3>6,101</h3>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="widget">
							<div class="widget-controls">
								<span class="refresh-content"><i class="fa fa-refresh"></i></span>
							</div><!-- Widget Controls -->
							<div class="mini-stats ">
								<span class="pink-skin"><i class="fa fa-shopping-cart"></i></span>
								<p><i class="fa  fa-arrow-up up"></i> New Orders</p>
								<h3>5,218</h3>
							</div>
						</div>
					</div>
				</div>
			</div><!-- Mini stats Sec -->
			<div class="widget">
				<div class="widget-controls">
					<span class="refresh-content"><i class="fa fa-refresh"></i></span>
				</div><!-- Widget Controls -->
				<div class="total-sales-sec">
					<div class="circle-chart">
						<div class="cirlce-chart-detail">
							<span>TODAY</span>
							<h5>$256</h5>
						</div>
						<p class="data-attributes">
							<span data-peity='{ "fill": ["#faa5ff", "#e8edf2"],   "innerRadius": 56, "radius": 70 }'>5/7</span>
						</p>
					</div><!-- Circle Chart -->
					<div class="total-sales-info">
						<span>Total sales made of all time</span>
						<h3>$1,225</h3>
						<ul>
							<li>
								<span>Target</span>
								<h5>$2,251</h5>
							</li>
							<li>
								<span>Today</span>
								<h5>$107</h5>
							</li>
							<li>
								<span>All time</span>
								<h5>$3,463</h5>
							</li>
						</ul>
					</div>
				</div>
			</div><!-- Total Sales Made -->
		</div>
		<div class="col-md-6">
			<div class="widget">
				<div class="widget-controls">
					<span class="close-content"><i class="fa fa-trash-o"></i></span>
					<span class="refresh-content"><i class="fa fa-refresh"></i></span>
				</div><!-- Widget Controls -->
				<div class="activity-sec">
					<div class="widget-title">
						<h3>Activities</h3>
						<span>Your last activity is posted 4 hours ago</span>
					</div>
					<div id="graph-wrapper">
						<div class="graph-info">
							<a href="" class="visitors"><span class="red-skin"></span>Visitors</a>
							<a href="" class="returning"><span class="purple-skin"></span>Returning Visitors</a>
						</div>
						<div class="graph-container">
							<canvas id="chart"></canvas>
						</div>
						<div class="graph-details">
							<ul>
								<li><span class="red-skin">+5.00%</span><strong>$5,450</strong><p>Average of $450.35 Per Day</p></li>
								<li><span class="purple-skin">+5.00%</span><strong>1,120</strong><p>Total Visitors : 2,58,256,00</p></li>
							</ul>
						</div>
					</div>	
				</div><!-- Activity Sec -->
			</div><!-- Widget -->
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<div class="widget">
				<div class="admin-follow">
					<img src="images/resource/admin-follow.jpg" alt="" />
					<h3>Brian Kellvin</h3>
					<span>@briankellvin</span>
					<a href="#" title="">Follow us</a>
					<ul>
						<li><i class="fa fa-heart red-skin"></i> <span>1,245</span></li>
						<li><i class="fa fa-thumb-tack purple-skin"></i> <span>7,314</span></li>
						<li><i class="fa fa-hashtag sky-skin"></i> <span>9,158</span></li>
					</ul>
				</div><!-- Admin Follow -->
			</div><!-- Widget -->
		</div>
		<div class="col-md-4">
			<div class="widget">
				<div class="widget-controls">
					<span class="close-content"><i class="fa fa-trash-o"></i></span>
					<span class="expand-content"><i class="fa fa-expand"></i></span>
					<span class="refresh-content"><i class="fa fa-refresh"></i></span>
				</div><!-- Widget Controls -->
				<div class="our-clients-sec">
					<div class="widget-title">
						<h3>Our Clients</h3>
						<span>You have 425 clients</span>
					</div>
					<div id="searchDir"></div>
					<ul id="people-list" class="client-list">
						<li>
							<span class="user-status online red-skin">J</span>
							<div class="client-info">
								<h3><a href="#" title="">Jamed line</a></h3>
								<p>creative designer</p>
								<a href="#" title=""><i class="fa fa-comment-o"></i></a>
							</div>
						</li>
						<li>
							<span class="user-status offline purple-skin">H</span>
							<div class="client-info">
								<h3><a href="#" title="">Hurisa joe</a></h3>
								<p>marketing</p>
								<a href="#" title=""><i class="fa fa-comment-o"></i></a>
							</div>
						</li>
						<li>
							<span class="user-status away pink-skin">K</span>
							<div class="client-info">
								<h3><a href="#" title="">Komail set</a></h3>
								<p>supervisor</p>
								<a href="#" title=""><i class="fa fa-comment-o"></i></a>
							</div>
						</li>
						<li>
							<span class="user-status away sky-skin">B</span>
							<div class="client-info">
								<h3><a href="#" title="">Bason Durel</a></h3>
								<p>web developer</p>
								<a href="#" title=""><i class="fa fa-comment-o"></i></a>
							</div>
						</li>
						<li>
							<span class="user-status offline red-skin">D</span>
							<div class="client-info">
								<h3><a href="#" title="">Danzil Dare</a></h3>
								<p>software engineer</p>
								<a href="#" title=""><i class="fa fa-comment-o"></i></a>
							</div>
						</li>
						<li>
							<span class="user-status online purple-skin">Z</span>
							<div class="client-info">
								<h3><a href="#" title="">Zubain Dui</a></h3>
								<p>road master</p>
								<a href="#" title=""><i class="fa fa-comment-o"></i></a>
							</div>
						</li>
						<li>
							<span class="user-status online pink-skin">L</span>
							<div class="client-info">
								<h3><a href="#" title="">Lara Croft</a></h3>
								<p>content writer</p>
								<a href="#" title=""><i class="fa fa-comment-o"></i></a>
							</div>
						</li>
						<li>
							<span class="user-status offline sky-skin">B</span>
							<div class="client-info">
								<h3><a href="#" title="">Bisman Dazy</a></h3>
								<p>blogger</p>
								<a href="#" title=""><i class="fa fa-comment-o"></i></a>
							</div>
						</li>
					</ul>
				</div><!-- Our Clients Sec -->
			</div><!-- Widget -->
		</div>
		<div class="col-md-4">
			<div class="widget">
				<div class="widget-controls">
					<span class="close-content"><i class="fa fa-trash-o"></i></span>
					<span class="refresh-content"><i class="fa fa-refresh"></i></span>
				</div><!-- Widget Controls -->
				<div class="product-sale">
					<img src="images/resource/product.jpg" alt="" />
					<div class="product-info">
						<h3><a href="#" title="">Classic Shirt</a></h3>
						<p>Lorem ipsum dolor sit amet, constur adipiscing elit hell to bob.</p>
						<span class="price">
							<ins><i class="fa fa-shopping-cart"></i>$58</ins>
							<del>$75</del>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<div class="widget">
				<div class="widget-controls">
					<span class="close-content"><i class="fa fa-trash-o"></i></span>
					<span class="expand-content"><i class="fa fa-expand"></i></span>
					<span class="refresh-content"><i class="fa fa-refresh"></i></span>
				</div>
				<div class="task-managment">
					<div class="widget-title">
						<h3>Your Tasks</h3>
						<span>15 Tasks is pending..</span>
					</div>
					<form class="add-task-item">
				        <input type="text" name="item" id="task-item" placeholder="Add you Task" /> 
				       	<div id="itembutton"> <button id="addEventAdder"><i class="fa fa-plus"></i></button></div>
				    </form>
					<ol id ="listitems">
						<li><i class="red-skin"></i>Add widget to another site<span class="fa fa-close"></span></li>
						<li><i class="sky-skin"></i>Update the server no 2<span class="fa fa-close"></span></li>
						<li class="active"><i class="purple-skin"></i>Clean all junks now<span class="fa fa-close"></span></li>
						<li><i class="sky-skin"></i>Admin Template optimize<span class="fa fa-close"></span></li>
						<li class="active"><i class="red-skin"></i>Set record on piano tiles 2<span class="fa fa-close"></span></li>
						<li class="active"><i class="purple-skin"></i>Buy a Fish for home<span class="fa fa-close"></span></li>
						<li><i class="sky-skin"></i>Wash the car for holiday<span class="fa fa-close"></span></li>
					</ol>
				</div><!-- Task Management -->

			</div>
		</div>
		<div class="col-md-4">
			<div class="widget">
				<div class="chat-widget">
					<div class="widget-title">
						<h3>Chat with Owner</h3>
						<span>System Manager</span>
					</div>
					<div class="content">
						<div class="chat-window">
							<div class="chat-messages">
								<ol class="chat-messages-list">
									<li class="chat-message chat-message-friend">
										<div class="chat-message-bubble">
											Hey
										</div>
									</li>
									<li class="chat-message chat-message-self">
										<div class="chat-message-bubble">
											How are you
										</div>
									</li>
									<li class="chat-message chat-message-friend">
										<div class="chat-message-bubble">
											I am fine. Please type something on the field below
										</div>
									</li>
									<li class="chat-message chat-message-friend">
										<div class="chat-message-bubble">
											oh and press enter :0
										</div>
									</li>
								</ol>
							</div>
							<div class="chat-input-bar">
								<div class="chat-info-container">

								</div>
								<div class="chat-effect-container">
									<div class="chat-effect-bar"></div>
								</div>
								<div class="chat-input-wrapper">
									<button class="chat-input-tool">
										<i class="icon icon-camera"></i>
									</button>
									<div class="chat-input" contenteditable></div>
									<button class="chat-send">
										<i class="fa fa-paper-plane"></i>
									</button>
								</div>
							</div>
						</div>
					</div>
					<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="800">
					  <defs>
					    <filter id="goo">
					      <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
					      <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="goo" />
					      <feComposite in="SourceGraphic" in2="goo" />
					    </filter>
					  </defs>
					</svg>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="widget">
				<div class="twitter-feed">
					<div class="twitter-account">
						<i class="fa fa-twitter"></i>
						<h3>Envato</h3>
						<span>Cooprtator of Web</span>
					</div>
					<div class="twitter-widget">
						<div id="tweecool"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div><!-- Panel Content -->
<script type="text/javascript">
    $(document).ready(function(){
    
    "use strict";

    	//*** Twitter Feed Widget ***//
    	$('#tweecool').tweecool({
			//settings
			username : 'envato',
			limit : 4
		});


    	//*** Piety Mini Charts ***//
    	$(function() {
  			$(".bar").peity("bar", {
			  fill: ["#ff8484"],
			  height: ["40px"],
			  width: ["94px"]
			})

			$(".bar2").peity("bar", {
			  fill: ["#9797ff"],
			  height: ["40px"],
			  width: ["94px"]
			})

			$(".data-attributes span").peity("donut")
  		});

    	
  		//***** Clients lists Scroll *****//
        $(function(){
            $('#people-list').slimScroll({
                height: '233px',
                wheelStep: 10,
                size: '2px'
            });
        });

        //***** Twitter Widget Scroll *****//
        $(function(){
            $('.twitter-widget').slimScroll({
                height: '282px',
                wheelStep: 10,
                size: '2px'
            });
        });

        //*** Activity Chart ***//
  		function updateChartData(object, data) {
		  for (var i = 0; i < data.length; i++) {
		    object[i].value = data[i];
		  }
		};

		var data = {
		    labels: ["January", "February", "March", "April", "May", "June", "July", "August", "September", "Octuber", "Noverber", "December"],
		    datasets: [
		        {
		            label: "My First dataset",
		            fillColor: "rgba(255,162,162,0.2)",
		            strokeColor: "rgba(255,162,162,1)",
		            pointColor: "rgba(255,162,162,1)",
		            pointStrokeColor: "#fff",
		            pointHighlightFill: "#fff",
		            pointHighlightStroke: "rgba(220,220,220,1)",
		            data: [65, 59, 120, 200, 130, 100, 180, 150, 120, 170, 210, 350]
		        },
		        {
		            label: "My Second dataset",
		            fillColor: "rgba(173,173,253,0.2)",
		            strokeColor: "rgba(173,173,253,1)",
		            pointColor: "rgba(173,173,253,1)",
		            pointStrokeColor: "#fff",
		            pointHighlightFill: "#fff",
		            pointHighlightStroke: "rgba(173,173,253,1)",
		            data: [100, 200, 150, 300, 90, 180, 350, 100, 400, 200, 50, 400]
		        }
		    ]
		};

		var ctx = document.getElementById("chart").getContext("2d");
		var myLineChart = new Chart(ctx).Line(data, {
		    multiTooltipTemplate: "<%= value %>%",
		    legendTemplate: '',
		    scaleShowLabels: false,
		  scaleShowGridLines : true,
		pointDotRadius : 6,

		    //Number - Pixel width of point dot stroke
		    pointDotStrokeWidth : 2,

		    //Number - amount extra to add to the radius to cater for hit detection outside the drawn point
		    pointHitDetectionRadius : 20,
		    //String - Colour of the grid lines
		    scaleGridLineColor : "rgba(0,0,0,.0)",


		    //Boolean - Whether to show horizontal lines (except X axis)
		    scaleShowHorizontalLines: true,

		    //Boolean - Whether to show vertical lines (except Y axis)
		    scaleShowVerticalLines: true,
		});


			//Sort by first name
			$(function() {
				$.fn.sortList = function() {
					var mylist = $(this);
					var listitems = $('li', mylist).get();
					listitems.sort(function(a, b) {
					var compA = $(a).text().toUpperCase();
					var compB = $(b).text().toUpperCase();
					return (compA < compB) ? -1 : 1;
					});
					$.each(listitems, function(i, itm) {
					mylist.append(itm);
				});
			}
		});

	  //Sort by last name
	  $(function() {
	      $.fn.sortListLast = function() {
	      var mylist = $(this);
	      var listitems = $('li', mylist).get();
	      listitems.sort(function(a, b) {
	          var compA = $('.last-name', a).text().toUpperCase();
	          var compB = $('.last-name', b).text().toUpperCase();
	          return (compA < compB) ? -1 : 1;
	      });
	      $.each(listitems, function(i, itm) {
	          mylist.append(itm);
	      });
	     }
	  });

  	//Search filter
	(function ($) {
		// custom css expression for a case-insensitive contains()
		jQuery.expr[':'].Contains = function(a,i,m){
		    return (a.textContent || a.innerText || "").toUpperCase().indexOf(m[3].toUpperCase())>=0;
	};


    function listFilter(searchDir, list) { 
      var form = $("<form>").attr({"class":"filterform","action":"#"}),
          input = $("<input>").attr({"class":"filterinput","type":"text","placeholder":"Live Client Search"});
      $(form).append(input).appendTo(searchDir);

      $(input)
        .change( function () {
          var filter = $(this).val();
          if(filter) {
            $(list).find("li:not(:Contains(" + filter + "))").slideUp();
            $(list).find("li:Contains(" + filter + ")").slideDown();
          } else {
            $(list).find("li").slideDown();
          }
          return false;
        })
      .keyup( function () {
          $(this).change();
      });
    }

    //ondomready
    $(function () {
      listFilter($("#searchDir"), $("#people-list"));
	    });
	  }(jQuery));


	//*** Task lists ***//
	$('.task-managment > ol > li').on("click", function(){
		$(this).toggleClass('active');
	});

	//*** Task List Deleted ***//
	$('.task-managment > ol > li > span').on("click", function(){
		$(this).parent().slideUp();
	});

	var counter = 0;
	$('button#addEventAdder, button#addEventAdder > i').on('click',function(){
		var classes = ["red-skin", "sky-skin", "purple-skin", "pink-skin", "orange-skin"];
		var ul = $('ol#listitems');
		var item = $('input#task-item').val();
	    if(item !== '' && item !== 'undefined' ){
	    	if(counter == classes.length){
				counter = 0;
			}
	    	$(ul).prepend('<li><i class="empty"></i>'+item+'<span class="fa fa-close"></span></li>');
			$('.task-managment > ol > li').on("click", function(){
				$(this).toggleClass('active');
			});
			$('.task-managment > ol > li > span').on("click", function(){
				$(this).parent().slideUp();
			});
	    	$('input#task-item').addClass('null');
	    	$('input#task-item').val('');
	    	$('input#task-item').focus();
	    	var attribute = $("ol#listitems").children('li').eq(0).children('i');
			$(attribute).attr('class', classes[counter]);
			counter++;
	    }
	    
	});


    });



	//*** Chat message Initiliaze ***//
	var KEY_ENTER=13;
	$(document).ready(function(){
		var $input=$(".chat-input")
			,$sendButton=$(".chat-send")
			,$messagesContainer=$(".chat-messages")
			,$messagesList=$(".chat-messages-list")
			,$effectContainer=$(".chat-effect-container")
			,$infoContainer=$(".chat-info-container")

			,messages=0
			,bleeding=100
			,isFriendTyping=false
			,incomingMessages=0
			,lastMessage=""
		;
		
		var lipsum="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.";

		function gooOn(){
			setFilter('url(#goo)');
		}
		function gooOff(){
			setFilter('none');
		}
		function setFilter(value){
			$effectContainer.css({
				webkitFilter:value,
				mozFilter:value,
				filter:value,
			});
		}

		function addMessage(message,self){
			var $messageContainer=$("<li/>")
				.addClass('chat-message '+(self?'chat-message-self':'chat-message-friend'))
				.appendTo($messagesList)
			;
			var $messageBubble=$("<div/>")
				.addClass('chat-message-bubble')
				.appendTo($messageContainer)
			;
			$messageBubble.text(message);

			var oldScroll=$messagesContainer.scrollTop();
			$messagesContainer.scrollTop(9999999);
			var newScroll=$messagesContainer.scrollTop();
			var scrollDiff=newScroll-oldScroll;
			TweenMax.fromTo(
				$messagesList,0.4,{
					y:scrollDiff
				},{
					y:0,
					ease:Quint.easeOut
				}
			);

			return {
				$container:$messageContainer,
				$bubble:$messageBubble
			};
		}
		function sendMessage(){
			var message=$input.text();
			
			if(message=="") return;
			
			lastMessage=message;

			var messageElements=addMessage(message,true)
				,$messageContainer=messageElements.$container
				,$messageBubble=messageElements.$bubble
			;

			var oldInputHeight=$(".chat-input-bar").height();
			$input.text('');
			updateChatHeight();
			var newInputHeight=$(".chat-input-bar").height();
			var inputHeightDiff=newInputHeight-oldInputHeight

			var $messageEffect=$("<div/>")
				.addClass('chat-message-effect')
				.append($messageBubble.clone())
				.appendTo($effectContainer)
				.css({
					left:$input.position().left-12,
					top:$input.position().top+bleeding+inputHeightDiff
				})
			;


			var messagePos=$messageBubble.offset();
			var effectPos=$messageEffect.offset();
			var pos={
				x:messagePos.left-effectPos.left,
				y:messagePos.top-effectPos.top
			}

			var $sendIcon=$sendButton.children("i");
			TweenMax.to(
				$sendIcon,0.15,{
					x:30,
					y:-30,
					force3D:true,
					ease:Quad.easeOut,
					onComplete:function(){
						TweenMax.fromTo(
							$sendIcon,0.15,{
								x:-30,
								y:30
							},
							{
								x:0,
								y:0,
								force3D:true,
								ease:Quad.easeOut
							}
						);
					}
				}
			);

			gooOn();

			
			TweenMax.from(
				$messageBubble,0.8,{
					y:-pos.y,
					ease:Sine.easeInOut,
					force3D:true
				}
			);

			var startingScroll=$messagesContainer.scrollTop();
			var curScrollDiff=0;
			var effectYTransition;
			var setEffectYTransition=function(dest,dur,ease){
				return TweenMax.to(
					$messageEffect,dur,{
						y:dest,
						ease:ease,
						force3D:true,
						onUpdate:function(){
							var curScroll=$messagesContainer.scrollTop();
							var scrollDiff=curScroll-startingScroll;
							if(scrollDiff>0){
								curScrollDiff+=scrollDiff;
								startingScroll=curScroll;

								var time=effectYTransition.time();
								effectYTransition.kill();
								effectYTransition=setEffectYTransition(pos.y-curScrollDiff,0.8-time,Sine.easeOut);
							}
						}
					}
				);
			}

			effectYTransition=setEffectYTransition(pos.y,0.8,Sine.easeInOut);
			
			// effectYTransition.updateTo({y:800});

			TweenMax.from(
				$messageBubble,0.6,{
					delay:0.2,
					x:-pos.x,
					ease:Quad.easeInOut,
					force3D:true
				}
			);
			TweenMax.to(
				$messageEffect,0.6,{
					delay:0.2,
					x:pos.x,
					ease:Quad.easeInOut,
					force3D:true
				}
			);

			TweenMax.from(
				$messageBubble,0.2,{
					delay:0.65,
					opacity:0,
					ease:Quad.easeInOut,
					onComplete:function(){
						TweenMax.killTweensOf($messageEffect);
						$messageEffect.remove();
						if(!isFriendTyping)
							gooOff();
					}
				}
			);

			messages++;

			if(Math.random()<0.65 || lastMessage.indexOf("?")>-1 || messages==1) getReply();
		}
		function getReply(){
			if(incomingMessages>2) return;
			incomingMessages++;
			var typeStartDelay=1000+(lastMessage.length*40)+(Math.random()*1000);
			setTimeout(friendIsTyping,typeStartDelay);

			var source=lipsum.toLowerCase();
			source=source.split(" ");
			var start=Math.round(Math.random()*(source.length-1));
			var length=Math.round(Math.random()*13)+1;
			var end=start+length;
			if(end>=source.length){
				end=source.length-1;
				length=end-start;
			}
			var message="";
			for (var i = 0; i < length; i++) {
				message+=source[start+i]+(i<length-1?" ":"");
			};
			message+=Math.random()<0.4?"?":"";
			message+=Math.random()<0.2?" :)":(Math.random()<0.2?" :(":"");

			var typeDelay=300+(message.length*50)+(Math.random()*1000);

			setTimeout(function(){
				receiveMessage(message);
			},typeDelay+typeStartDelay);

			setTimeout(function(){
				incomingMessages--;
				if(Math.random()<0.1){
					getReply();
				}
				if(incomingMessages<=0){
					friendStoppedTyping();
				}
			},typeDelay+typeStartDelay);
		}
		function friendIsTyping(){
			if(isFriendTyping) return;

			isFriendTyping=true;

			var $dots=$("<div/>")
				.addClass('chat-effect-dots')
				.css({
					top:-30+bleeding,
					left:10
				})
				.appendTo($effectContainer)
			;
			for (var i = 0; i < 3; i++) {
				var $dot=$("<div/>")
					.addClass("chat-effect-dot")
					.css({
						left:i*20
					})
					.appendTo($dots)
				;
				TweenMax.to($dot,0.3,{
					delay:-i*0.1,
					y:30,
					yoyo:true,
					repeat:-1,
					ease:Quad.easeInOut
				})
			};

			var $info=$("<div/>")
				.addClass("chat-info-typing")
				.text("Your friend is typing...")
				.css({
					transform:"translate3d(0,30px,0)"
				})
				.appendTo($infoContainer)

			TweenMax.to($info, 0.3,{
				y:0,
				force3D:true
			});

			gooOn();
		}

		function friendStoppedTyping(){
			if(!isFriendTyping) return

			isFriendTyping=false;

			var $dots=$effectContainer.find(".chat-effect-dots");
			TweenMax.to($dots,0.3,{
				y:40,
				force3D:true,
				ease:Quad.easeIn,
			});

			var $info=$infoContainer.find(".chat-info-typing");
			TweenMax.to($info,0.3,{
				y:30,
				force3D:true,
				ease:Quad.easeIn,
				onComplete:function(){
					$dots.remove();
					$info.remove();

					gooOff();
				}
			});
		}
		function receiveMessage(message){
			var messageElements=addMessage(message,false)
				,$messageContainer=messageElements.$container
				,$messageBubble=messageElements.$bubble
			;

			TweenMax.set($messageBubble,{
				transformOrigin:"60px 50%"
			})
			TweenMax.from($messageBubble,0.4,{
				scale:0,
				force3D:true,
				ease:Back.easeOut
			})
			TweenMax.from($messageBubble,0.4,{
				x:-100,
				force3D:true,
				ease:Quint.easeOut
			})
		}

		function updateChatHeight(){
			$messagesContainer.css({
				height:460-$(".chat-input-bar").height()
			});
		}

		$input.keydown(function(event) {
			if(event.keyCode==KEY_ENTER){
				event.preventDefault();
				sendMessage();
			}
		});
		$sendButton.click(function(event){
			event.preventDefault();
			sendMessage();
			// $input.focus();
		});
		$sendButton.on("touchstart",function(event){
			event.preventDefault();
			sendMessage();
			// $input.focus();
		});

		$input.on("input",function(){
			updateChatHeight();
		});

		gooOff();
		updateChatHeight();
	})

</script>
