<div id="progressBar">
	<div class="loader"></div>
</div> 
<div class="breadcrumbs">
	<ul>
		<li><a href="#/" title="">Home</a></li>
		<li><a href="#/pages/team-2" title="">Blog posts edit</a></li>
	</ul>
</div>

<div class="heading-sec">
	<div class="row">
		<div class="col-md-4 column">
			<div class="heading-profile">
				<h2>Blog Posts</h2>
				<span>Very detailed & featured admin blog posts.</span>
			</div>
		</div>
		<div class="col-md-8 column">
			<div class="top-bar-chart">
				<div class="quick-report">
					<div class="quick-report-infos">
						<p>My Balance</p>
						<h3>$21,561.21</h3>
					</div>
					<span class="bar2">5,7,4,6,9,10,13,6,5,4,7,6,5,3</span>
				</div>
				<div class="quick-report">
					<div class="quick-report-infos">
						<p>New orders</p>
						<h3>17,561</h3>
					</div>
					<span class="bar">2,3,7,4,6,9,5,4,3,4,6,4,2</span>
				</div>
			</div><!-- Top Bar Chart -->
		</div>
	</div>
</div><!-- Top Bar Chart -->

<div class="panel-content">
	<div class="row">
		<div class="our-team-area">
			<div class="blog-posts">
			  <div class="row">
				<div class="col-md-6">
				  <div class="row">
					<div class="col-md-12">
					  <div class="small-post">
						<div class="sm-avatar"> <img src="images/resource/small-blog1.jpg" alt=""> </div>
						<div class="post-editing">
						  <h5><a href="#" title="">Unlimited Possibilities</a></h5>
						  <span>posted by <a href="#" title="">admin</a> on <a href="#" title="">April 20, 2017</a></span>
						  <ul>
							<li><a class="red-skin" href="#" title="">edit</a></li>
							<li><a href="#" title="">delete</a></li>
							<li><a href="#" title="">publish</a></li>
							<li><a href="#" title="">cancel</a></li>
						  </ul>
						</div>
					  </div>
					</div>
					<div class="col-md-12">
					  <div class="small-post">
						<div class="sm-avatar"> <img src="images/resource/small-blog2.jpg" alt=""> </div>
						<div class="post-editing">
						  <h5><a href="#" title="">Unlimited Possibilities</a></h5>
						  <span>posted by <a href="#" title="">admin</a> on <a href="#" title="">April 20, 2017</a></span>
						  <ul>
							<li><a href="#" title="">edit</a></li>
							<li><a href="#" title="">delete</a></li>
							<li><a href="#" title="">publish</a></li>
							<li><a href="#" title="">cancel</a></li>
						  </ul>
						</div>
					  </div>
					</div>
				  </div>
				</div>
				<div class="col-md-6">
				  <div class="big-post">
					<div class="post-avatar"> <img src="images/resource/big-blog1.jpg" alt="">
					  <div class="post-editing">
						<h5><a href="#" title="">Unlimited Possibilities</a></h5>
						<span>posted by <a href="#" title="">admin</a> on <a href="#" title="">April 20, 2017</a></span>
						<ul>
						  <li><a href="#" title="">edit</a></li>
						  <li><a href="#" title="">delete</a></li>
						  <li><a href="#" title="">publish</a></li>
						  <li><a href="#" title="">cancel</a></li>
						</ul>
					  </div>
					</div>
				  </div>
				</div>
			  </div>
			  <div class="listing-post">
				<div class="small-post">
				  <div class="sm-avatar"> <img src="images/resource/list-blog1.jpg" alt="">
					<div class="date-box"> <span>26</span> <i>july</i> </div>
				  </div>
				  <div class="post-editing">
					<h5><a href="#" title="">Unlimited Possibilities</a></h5>
					<span>posted by <a href="#" title="">admin</a> on <a href="#" title="">April 20, 2017</a></span>
					<ul>
					  <li><a href="#" title="">edit</a></li>
					  <li><a href="#" title="">delete</a></li>
					  <li><a href="#" title="">publish</a></li>
					  <li><a href="#" title="">cancel</a></li>
					</ul>
				  </div>
				</div>
				<div class="small-post">
				  <div class="sm-avatar"> <img src="images/resource/list-blog2.jpg" alt="">
					<div class="date-box"> <span>30</span> <i>March</i> </div>
				  </div>
				  <div class="post-editing">
					<h5><a href="#" title="">Unlimited Possibilities</a></h5>
					<span>posted by <a href="#" title="">admin</a> on <a href="#" title="">April 20, 2017</a></span>
					<ul>
					  <li><a href="#" title="">edit</a></li>
					  <li><a href="#" title="">delete</a></li>
					  <li><a href="#" title="">publish</a></li>
					  <li><a href="#" title="">cancel</a></li>
					</ul>
				  </div>
				</div>
			  </div>
			</div>
		</div>
	</div>
</div><!-- Panel Content -->

<script type="text/javascript">
    $(document).ready(function(){
    
    "use strict";

    	//*** Piety Mini Charts ***//
    	$(function() {
  			$(".bar").peity("bar", {
			  fill: ["#ff8484"],
			  height: ["40px"],
			  width: ["94px"]
			})

			$(".bar2").peity("bar", {
			  fill: ["#9797ff"],
			  height: ["40px"],
			  width: ["94px"]
			})
  		});

    });

</script>
