<div id="progressBar">
	<div class="loader"></div>
</div> 
<div class="breadcrumbs">
	<ul>
		<li><a href="#/" title="">Home</a></li>
		<li><a href="#/pages/buttons" title="">Buttons</a></li>
	</ul>
</div>

<div class="heading-sec">
	<div class="row">
		<div class="col-md-4 column">
			<div class="heading-profile">
				<h2>Buttons</h2>
				<span>Very detailed & featured admin.</span>
			</div>
		</div>
		<div class="col-md-8 column">
			<div class="top-bar-chart">
				<div class="quick-report">
					<div class="quick-report-infos">
						<p>My Balance</p>
						<h3>$21,561.21</h3>
					</div>
					<span class="bar2">5,7,4,6,9,10,13,6,5,4,7,6,5,3</span>
				</div>
				<div class="quick-report">
					<div class="quick-report-infos">
						<p>New orders</p>
						<h3>17,561</h3>
					</div>
					<span class="bar">2,3,7,4,6,9,5,4,3,4,6,4,2</span>
				</div>
			</div><!-- Top Bar Chart -->
		</div>
	</div>
</div><!-- Top Bar Chart -->

<div class="panel-content">
	<div class="row">
		<div class="col-md-6">
			<div class="widget">
				<div class="buttons-sec">
					<div class="widget-title">
						<h3>Button Large</h3>
						<span>Very Beautifull Admin</span>
					</div>
					<button type="button" class="btns  red-skin  lrg-btn ">Red Button</button>
					<button type="button" class="btns  orange-skin  lrg-btn ">Orange Button</button>
					<button type="button" class="btns  pink-skin  lrg-btn ">Pink Button</button>
					<button type="button" class="btns  sky-skin  lrg-btn ">Sky Button</button>
					<button type="button" class="btns  purple-skin  lrg-btn ">Purple Button</button>
				</div><!-- Buttons Sec -->
			</div>
		</div>
		<div class="col-md-6">
			<div class="widget">
				<div class="buttons-sec">
					<div class="widget-title">
						<h3>Button Medium</h3>
						<span>Very Beautifull Admin</span>
					</div>
					<button type="button" class="btns  red-skin  mdm-btn ">Red Button</button>
					<button type="button" class="btns  orange-skin  mdm-btn ">Orange Button</button>
					<button type="button" class="btns  pink-skin  mdm-btn ">Pink Button</button>
					<button type="button" class="btns  sky-skin  mdm-btn ">Sky Button</button>
					<button type="button" class="btns  purple-skin  mdm-btn ">Purple Button</button>
				</div><!-- Buttons Sec -->
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="widget">
				<div class="buttons-sec">
					<div class="widget-title">
						<h3>Button Small</h3>
						<span>Very Beautifull Admin</span>
					</div>
					<button type="button" class="btns  red-skin  sml-btn ">Red Button</button>
					<button type="button" class="btns  orange-skin  sml-btn ">Orange Button</button>
					<button type="button" class="btns  pink-skin  sml-btn ">Pink Button</button>
					<button type="button" class="btns  sky-skin  sml-btn ">Sky Button</button>
					<button type="button" class="btns  purple-skin  sml-btn ">Purple Button</button>
				</div><!-- Buttons Sec -->
			</div>
		</div>
		<div class="col-md-6">
			<div class="widget">
				<div class="buttons-sec">
					<div class="widget-title">
						<h3>Button Large Radius</h3>
						<span>Very Beautifull Admin</span>
					</div>
					<button type="button" class="btns  red-skin  lrg-btn lrg-radius">Red Button</button>
					<button type="button" class="btns  orange-skin  lrg-btn lrg-radius">Orange Button</button>
					<button type="button" class="btns  pink-skin  lrg-btn lrg-radius">Pink Button</button>
					<button type="button" class="btns  sky-skin  lrg-btn lrg-radius">Sky Button</button>
					<button type="button" class="btns  purple-skin  lrg-btn lrg-radius">Purple Button</button>
				</div><!-- Buttons Sec -->
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="widget">
				<div class="buttons-sec">
					<div class="widget-title">
						<h3>Button Medium Radius</h3>
						<span>Very Beautifull Admin</span>
					</div>
					<button type="button" class="btns  red-skin  mdm-btn mdm-radius">Red Button</button>
					<button type="button" class="btns  orange-skin  mdm-btn mdm-radius">Orange Button</button>
					<button type="button" class="btns  pink-skin  mdm-btn mdm-radius">Pink Button</button>
					<button type="button" class="btns  sky-skin  mdm-btn mdm-radius">Sky Button</button>
					<button type="button" class="btns  purple-skin  mdm-btn mdm-radius">Purple Button</button>
				</div><!-- Buttons Sec -->
			</div>
		</div>
		<div class="col-md-6">
			<div class="widget">
				<div class="buttons-sec">
					<div class="widget-title">
						<h3>Button Small Radius</h3>
						<span>Very Beautifull Admin</span>
					</div>
					<button type="button" class="btns  red-skin  sml-btn sml-radius">Red Button</button>
					<button type="button" class="btns  orange-skin  sml-btn sml-radius">Orange Button</button>
					<button type="button" class="btns  pink-skin  sml-btn sml-radius">Pink Button</button>
					<button type="button" class="btns  sky-skin  sml-btn sml-radius">Sky Button</button>
					<button type="button" class="btns  purple-skin  sml-btn sml-radius">Purple Button</button>
				</div><!-- Buttons Sec -->
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<div class="widget">
				<div class="buttons-sec">
					<div class="widget-title">
						<h3>Tags Button Medium</h3>
						<span>Very Beautifull Admin</span>
					</div>
					<button type="button" class="btns tag-btn  red-skin  sml-btn lrg-radius">Red Button</button>
					<button type="button" class="btns tag-btn  orange-skin  sml-btn lrg-radius">Orange Button</button>
					<button type="button" class="btns tag-btn  pink-skin  sml-btn lrg-radius">Pink Button</button>
					<button type="button" class="btns tag-btn  sky-skin  sml-btn lrg-radius">Sky Button</button>
					<button type="button" class="btns tag-btn  purple-skin  sml-btn lrg-radius">Purple Button</button>
				</div><!-- Buttons Sec -->
			</div>
		</div>
		<div class="col-md-8">
			<div class="widget">
				<div class="buttons-sec">
					<div class="widget-title">
						<h3>DropDown Examples</h3>
						<span>Very Beautifull Admin</span>
					</div>
					<div class="dropdown-example">
						<ul class="nav nav-pills">
							<li class="dropdown">
							  <a data-toggle="dropdown" role="button" id="drop6" class="red-skin">Dropdown 1<b class="caret"></b></a>
							  <ul aria-labelledby="drop6" role="menu" class="dropdown-menu" id="menu6">
								<li role="presentation"><a href="#" tabindex="-1" role="menuitem">Action</a></li>
								<li role="presentation"><a href="#" tabindex="-1" role="menuitem">Another action</a></li>
								<li role="presentation"><a href="#" tabindex="-1" role="menuitem">Something else here</a></li>
								<li class="divider" role="presentation"></li>
								<li role="presentation"><a href="#" tabindex="-1" role="menuitem">Separated link</a></li>
							  </ul>
							</li>
							<li class="dropdown">
							  <a  data-toggle="dropdown" role="button" id="drop7" class="sky-skin">Dropdown 2 <b class="caret"></b></a>
							  <ul aria-labelledby="drop7" role="menu" class="dropdown-menu" id="menu7">
								<li role="presentation"><a href="#" tabindex="-1" role="menuitem">Action</a></li>
								<li role="presentation"><a href="#" tabindex="-1" role="menuitem">Another action</a></li>
								<li role="presentation"><a href="#" tabindex="-1" role="menuitem">Something else here</a></li>
								<li class="divider" role="presentation"></li>
								<li role="presentation"><a href="#" tabindex="-1" role="menuitem">Separated link</a></li>
							  </ul>
							</li>
							<li class="dropdown">
							  <a  data-toggle="dropdown" role="button" id="drop8" class="pink-skin">Dropdown 3 <b class="caret"></b></a>
							  <ul aria-labelledby="drop8" role="menu" class="dropdown-menu" id="menu8">
								<li role="presentation"><a href="#" tabindex="-1" role="menuitem">Action</a></li>
								<li role="presentation"><a href="#" tabindex="-1" role="menuitem">Another action</a></li>
								<li role="presentation"><a href="#" tabindex="-1" role="menuitem">Something else here</a></li>
								<li class="divider" role="presentation"></li>
								<li role="presentation"><a href="#" tabindex="-1" role="menuitem">Separated link</a></li>
							  </ul>
							</li>
							
							<li class="dropdown">
							  <a  data-toggle="dropdown" role="button" id="drop9" class="orange-skin">Dropdown 3 <b class="caret"></b></a>
							  <ul aria-labelledby="drop9" role="menu" class="dropdown-menu" id="menu9">
								<li role="presentation"><a href="#" tabindex="-1" role="menuitem">Action</a></li>
								<li role="presentation"><a href="#" tabindex="-1" role="menuitem">Another action</a></li>
								<li role="presentation"><a href="#" tabindex="-1" role="menuitem">Something else here</a></li>
								<li class="divider" role="presentation"></li>
								<li role="presentation"><a href="#" tabindex="-1" role="menuitem">Separated link</a></li>
							  </ul>
							</li>
						</ul>				
					</div>
				</div><!-- Buttons Sec -->
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="widget">
				<div class="buttons-sec">
					<div class="widget-title">
						<h3>Tags Button Medium</h3>
						<span>Very Beautifull Admin</span>
					</div>
					<div class="btn-group">
					  <button data-original-title="" type="button" class="btn btn-danger">Split Drop to Down</button>
					  <button data-original-title="" type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
						<span class="caret"></span>
					  </button>
					  <ul class="dropdown-menu" role="menu">
						<li><a data-original-title="" href="#">Action</a></li>
						<li><a data-original-title="" href="#">Another action</a></li>
						<li><a data-original-title="" href="#">Something else here</a></li>
						<li class="divider"></li>
						<li><a data-original-title="" href="#">Separated link</a></li>
					  </ul>
					</div>
					
					<div class="btn-group">
					  <button data-original-title="" type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
						Normal DropDown<span class="caret"></span>
					  </button>
					  <ul class="dropdown-menu" role="menu">
						<li><a data-original-title="" href="#">Action</a></li>
						<li><a data-original-title="" href="#">Another action</a></li>
						<li><a data-original-title="" href="#">Something else here</a></li>
						<li class="divider"></li>
						<li><a data-original-title="" href="#">Separated link</a></li>
					  </ul>
					</div>
					
					<div class="btn-group dropup">
					  <button data-original-title="" type="button" class="btn btn-success">Top Up DropDown With Split</button>
					  <button data-original-title="" type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
					  <ul class="dropdown-menu" role="menu">
						<li><a data-original-title="" href="#">Action</a></li>
						<li><a data-original-title="" href="#">Another action</a></li>
						<li><a data-original-title="" href="#">Something else here</a></li>
						<li class="divider"></li>
						<li><a data-original-title="" href="#">Separated link</a></li>
					  </ul>
					</div>
					
				</div><!-- Buttons Sec -->
			</div>
		</div>
		<div class="col-md-6">
			<div class="widget">
				<div class="buttons-sec">
					<div class="widget-title">
						<h3>Split DropDown Positions</h3>
						<span>Very Beautifull Admin</span>
					</div>
					<div class="btn-group btn-group-justified">
						<a href="#" class="btn red-skin">Left</a>
						<a href="#" class="btn red-skin">Middle</a>
						<a href="#" class="btn red-skin">Right</a>
					  </div><!-- Block Level Group  -->
					  
					  <div class="btn-group btn-group-justified">
						<a href="#" class="btn orange-skin">Left</a>
						<a href="#" class="btn orange-skin">Middle</a>
						<a href="#" class="btn orange-skin">Right</a>
					  </div><!-- Block Level Group  -->
					  
					  
					  <div class="btn-group btn-group-justified">
						<a href="#" class="btn purple-skin">Left</a>
						<a href="#" class="btn purple-skin">Middle</a>
						<a href="#" class="btn purple-skin">Right</a>
					  </div><!-- Block Level Group  -->
					  
					  <div class="btn-group btn-group-justified">
						<a href="#" class="btn pink-skin">Left</a>
						<a href="#" class="btn pink-skin">Middle</a>
						<a href="#" class="btn pink-skin">Right</a>
					  </div><!-- Block Level Group  -->				
				</div><!-- Buttons Sec -->
			</div>
		</div>
	</div>
</div><!-- Panel Content -->

<script type="text/javascript">
    $(document).ready(function(){
    
    "use strict";

    	//*** Piety Mini Charts ***//
    	$(function() {
  			$(".bar").peity("bar", {
			  fill: ["#ff8484"],
			  height: ["40px"],
			  width: ["94px"]
			})

			$(".bar2").peity("bar", {
			  fill: ["#9797ff"],
			  height: ["40px"],
			  width: ["94px"]
			})
  		});

    });

</script>
