<div id="progressBar">
	<div class="loader"></div>
</div> 
<div class="account-user-sec registration-sec">
	<div class="account-sec">
		<div class="account-top-bar">
			<div class="container">
				 <div class="logo">
			        <a href="#/" title=""><i class="fa fa-deviantart"></i> Electric</a>
			    </div>
			    <ul class="account-header-link">
			    	<li><a title="" href="#/register">Register</a></li>
			    	<li><a title="" href="#/forgot-password">Forgot Your Password</a></li>
			    	<li><a title="">Email us</a></li>
			    </ul>
			</div>
		</div>
		<div class="acount-sec">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="contact-sec">
							<div class="row">
								<div class="col-md-8">	
									<div class="widget-title">
										<h3>Can't Signin? Forget your password?</h3>
										<span>Enter your email address below & we will send you password reset instructions..</span>
									</div><!-- Widget title -->
									<div class="account-form">
										<form>
											<div class="row">
												<div class="col-md-6 feild">
													<input type="text" placeholder="Enter Your Email.." />
												</div>
												<div class="feild col-md-12">
													<input type="submit" value="Send me reset intructions" />
												</div>
											</div>
										</form>
									</div>
									<div class="more-option">
										<span>OR</span>
									</div>
								</div>
								<div class="col-md-4">
									<div class="creat-an-account">
										<span>Do you have an account?</span>
										<a href="#/login" title="">Login Now</a>
									</div><!-- Create an account -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer>
		    <div class="container">
		        <p>© 2015 Webinane Technologies Ltd.  Made with <i class="fa fa-heart"></i></p>
		    </div>
		</footer>
	</div><!-- Account Sec -->
</div>
