<div id="progressBar">
	<div class="loader"></div>
</div> 
<div class="breadcrumbs">
	<ul>
		<li><a href="#/" title="">Home</a></li>
		<li><a href="#/pages/invoice" title="">Invoice</a></li>
	</ul>
</div>

<div class="heading-sec">
	<div class="row">
		<div class="col-md-4 column">
			<div class="heading-profile">
				<h2>Invoice</h2>
				<span>Very detailed & featured admin.</span>
			</div>
		</div>
		<div class="col-md-8 column">
			<div class="top-bar-chart">
				<div class="quick-report">
					<div class="quick-report-infos">
						<p>My Balance</p>
						<h3>$21,561.21</h3>
					</div>
					<span class="bar2">5,7,4,6,9,10,13,6,5,4,7,6,5,3</span>
				</div>
				<div class="quick-report">
					<div class="quick-report-infos">
						<p>New orders</p>
						<h3>17,561</h3>
					</div>
					<span class="bar">2,3,7,4,6,9,5,4,3,4,6,4,2</span>
				</div>
			</div><!-- Top Bar Chart -->
		</div>
	</div>
</div><!-- Top Bar Chart -->

<div class="panel-content">
	<div class="row">
		<div class="col-md-12">
			<div class="invoice-sec">
				<span>
					<strong>Invoice #410931
					</strong>
					11-06-2013
				</span><!-- Invoice Number -->
				<div class="invoice-details">
					<ul>
						<li class="heading-invoice">From</li>
						<li><strong>Company Name</strong></li>
						<li>Address,</li>
						<li><abbr title="Phone">Phone :</abbr> 1234 5678 90,</li>
						<li><abbr title="Fax">Fax :</abbr> 1234 5678 90,</li>
						<li>Payment due 19/10/2012</li>
					</ul>
				</div><!-- Invoice Detail -->
				<div class="invoice-details">
					<ul>
						<li class="heading-invoice">To</li>
						<li><strong>Your Client</strong></li>
						<li>Address,</li>
						<li><abbr title="Phone">Phone :</abbr> 1234 5678 90,</li>
						<li><abbr title="Fax">Fax :</abbr> 1234 5678 90,</li>
					</ul>
				</div><!-- Invoice Details -->
				<div class="invoice">
					<div class="invoice-head">
						<h2 class="invoice-number">Inv. no. </h2>
						<h2 class="date">Date </h2>
						<h2 class="description">Description  </h2>
						<h2 class="quantity">Quantity </h2>
						<h2 class="vat">VAT </h2>
						<h2 class="total">Total </h2>
					</div><!-- Invoice Table Head -->
					<ul>
						<li>
							<div class="invoice-number"><p>#410931</p></div>
							<div class="date"><p>26-10-2013</p></div>
							<div class="description"><p>Incentivize platforms Incentivize Hello.</p></div>
							<div class="quantity"><p>4 </p></div>
							<div class="vat"><p>2.24% </p></div>
							<div class="total"><p>50.00$</p></div>
						</li>
						<li>
							<div class="invoice-number"><p>#410931</p></div>
							<div class="date"><p>27-10-2013</p></div>
							<div class="description"><p>Incentivize platforms Incentivize platforms user-contributed </p></div>
							<div class="quantity"><p>4 </p></div>
							<div class="vat"><p> 	6.59%  </p></div>
							<div class="total"><p>130.00$</p></div>
						</li>
						<li>
							<div class="invoice-number"><p>#410931</p></div>
							<div class="date"><p>28-10-2013</p></div>
							<div class="description"><p>Incentivize platforms Incentivize platforms user-cont. </p></div>
							<div class="quantity"><p>4 </p></div>
							<div class="vat"><p>2.50% </p></div>
							<div class="total"><p>220.00$</p></div>
						</li>	
						<li>
							<div class="invoice-number long-column"><p>Sub Totals</p></div>

							<div class="total"><p>400.00$</p></div>
						</li>	
						<li>
							<div class="invoice-number long-column"><p>Tax (9.25%) </p></div>

							<div class="total"><p>3000.00$</p></div>
						</li>	
						<li>
							<div class="invoice-number long-column"><p>Discount</p></div>

							<div class="total"><p>400.00$</p></div>
						</li>	
						<li>
							<div class="invoice-number long-column"><p>Total</p></div>

							<div class="total"><p>3000.00$</p></div>
						</li>
						<li>
							<div class="invoice-number long-column"><p></p></div>

							<div class="total"><a class="red-skin" title="">Submit</a></div>
						</li>																		
					</ul><!-- Invoice Table Structure -->
				</div><!-- Invoice -->
			</div>
		</div>
	</div>
</div><!-- Panel Content -->

<script type="text/javascript">
    $(document).ready(function(){
    
    "use strict";

    	//*** Piety Mini Charts ***//
    	$(function() {
  			$(".bar").peity("bar", {
			  fill: ["#ff8484"],
			  height: ["40px"],
			  width: ["94px"]
			})

			$(".bar2").peity("bar", {
			  fill: ["#9797ff"],
			  height: ["40px"],
			  width: ["94px"]
			})
  		});

    });

</script>
