<div id="progressBar">
	<div class="loader"></div>
</div> 
<div class="breadcrumbs">
	<ul>
		<li><a href="#/" title="">Home</a></li>
		<li><a href="#/pages/profile" title="">Profile</a></li>
	</ul>
</div>

<div class="panel-content">
	<div class="row">
		<div class="col-md-12">
			<div class="profile-sec">
				<div class="profile-banner-sec">
					<ul>
						<li>
							<input accept="image/*" type="file" name="file-1[]" id="file-1" class="new-img inputfile inputfile-1" data-multiple-caption="{count} files selected" multiple />
							<label for="file-1"><i class="fa fa-picture-o"></i><span>Choose a file&hellip;</span></label>
						</li>
						<li><a href="#/pages/setting" title=""><i class="fa fa-pencil"></i> Edit Profile</a></li>
					</ul>
					<img src="images/resource/banner.jpg" alt="" />
				</div>
				<div class="user-bar">
					<div class="user-thumb">
						<img src="images/resource/admin.jpg" alt="" />
						<h3>Brian Kelly</h3>
						<span><i class="fa fa-map-marker"></i> LONDON, UK</span>
					</div>
					<a title="" class="purple-skin"><i class="fa fa-heart-o"></i> Follow</a>
					<ul>
						<li>
							1,245
							<span>Followers</span>
						</li>
						<li>
							535
							<span>Projects</span>
						</li>
						<li>
							994
							<span>Following</span>
						</li>							
					</ul>
					<div class="social-btns">
						<ul>
							<li><a href="#" title=""><i class="fa fa-facebook"></i></a></li>
							<li><a href="#" title=""><i class="fa fa-twitter"></i></a></li>
							<li><a href="#" title=""><i class="fa fa-google-plus"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="profile-all">
					<div class="row">
						<div class="col-md-8">
							<div class="widget">
								<div class="add-content-form">
									<textarea></textarea>
									<div class="add-content">
										<ul>
											<li><a href="#" title=""><i class="fa fa-location-arrow"></i></a></li>
											<li><a href="#" title=""><i class="fa fa-microphone"></i></a></li>
											<li><a href="#" title=""><i class="fa fa-picture-o"></i></a></li>
											<li><a href="#" title=""><i class="fa fa-cloud-upload"></i></a></li>
										</ul>
										<button type="submit">POST</button>
									</div>
								</div>
							</div>
							<div class="widget no-color">
								<div class="activity-feed">
									<ul class="activity-timeline">
										<li>
											<span class="user-device"><i class="fa fa-mobile"></i></span>
											<div class="user-activity">
												<div class="who-post-this">
													<span><img src="images/resource/user.jpg" alt="" /></span>
													<div class="who-post-detail">
														<h3><a href="#" title="">Diana Dare<i class="poster-status online"></i></a></h3>
														<span><a href="#" title="">Diana Dare</a> Posted 4 photos in <a href="#" title="">Beauty album</a></span>
														<i>2 minutes ago</i>
													</div>
												</div>
												<div class="post-content">
													<p>Dnim eiusmod high life...</p>
													<div class="post-gallery">
														<a href="images/preview.png" title="Preview Demo"><img src="images/resource/post-gallery.jpg" alt="" /></a>
														<a href="images/preview.png" title="Preview Demo"><img src="images/resource/post-gallery2.jpg" alt="" /></a>
														<a href="images/preview.png" title="Preview Demo"><img src="images/resource/post-gallery3.jpg" alt="" /></a>
														<a href="images/preview.png" title="Preview Demo"><img src="images/resource/post-gallery4.jpg" alt="" /></a>
													</div>
												</div>
												<div class="comment-form">
													<span><i class="fa fa-thumbs-o-up"></i> Like</span>
													<span><i class="fa fa-comment-o"></i> Comments</span>
													<form>
														<textarea placeholder="Add Commemts"></textarea>	
													</form>
												</div>
											</div>
										</li>
										<li>
											<span class="user-device"><i class="fa fa-laptop"></i></span>
											<div class="user-activity">
												<div class="who-post-this">
													<span><img src="images/resource/user2.jpg" alt="" /></span>
													<div class="who-post-detail">
														<h3><a href="#" title="">Janjo liyo<i class="poster-status online"></i></a></h3>
														<span><a href="#" title="">Janjo liyo</a> Post a text in his <a href="#" title="">Profile</a></span>
														<i>6 minutes ago</i>
													</div>
												</div>
												<div class="post-content">
													<p>Dnim eiusm ni eiusmod high life accusamus terry richardson ad squid. 3 wolfmoon officia aute, cupidatat od high life...</p>
												</div>
												<div class="comment-form">
													<span><i class="fa fa-thumbs-o-up"></i> Like</span>
													<span><i class="fa fa-comment-o"></i> Comments</span>
													<form>
														<textarea placeholder="Add Commemts"></textarea>	
													</form>
												</div>
											</div>
										</li>
										<li>
											<span class="user-device"><i class="fa fa-television"></i></span>
											<div class="user-activity">
												<div class="who-post-this">
													<span><img src="images/resource/user3.jpg" alt="" /></span>
													<div class="who-post-detail">
														<h3><a href="#" title="">Janjo liyo<i class="poster-status online"></i></a></h3>
														<span><a href="#" title="">Janjo liyo</a> Post a text in his <a href="#" title="">Profile</a></span>
														<i>6 minutes ago</i>
													</div>
												</div>
												<div class="post-content">
													<p>Dnim eiusm ni eiusmod high life accusamus terry richardson ad squid. 3 wolfmoon officia aute, cupidatat od high life...</p>
													<iframe src="https://player.vimeo.com/video/46975682?title=0&byline=0&portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
												</div>
												<div class="comment-form">
													<span><i class="fa fa-thumbs-o-up"></i> Like</span>
													<span><i class="fa fa-comment-o"></i> Comments</span>
													<form>
														<textarea placeholder="Add Commemts"></textarea>	
													</form>
												</div>
											</div>
										</li>
									</ul>
								</div><!-- Activity Feed -->
							</div>
						</div>
						<div class="col-md-4">
							<div class="widget">
								<div class="our-clients-sec">
									<div class="widget-title">
										<h3>My Friends List</h3>
										<span>You have 522 Freinds</span>
									</div>
									<div id="searchDir"></div>
									<ul id="people-list" class="client-list">
										<li>
											<span class="user-status online red-skin">J</span>
											<div class="client-info">
												<h3><a href="#" title="">Jamed line</a></h3>
												<p>creative designer</p>
												<a href="#" title=""><i class="fa fa-comment-o"></i></a>
											</div>
										</li>
										<li>
											<span class="user-status offline purple-skin">H</span>
											<div class="client-info">
												<h3><a href="#" title="">Hurisa joe</a></h3>
												<p>marketing</p>
												<a href="#" title=""><i class="fa fa-comment-o"></i></a>
											</div>
										</li>
										<li>
											<span class="user-status away pink-skin">K</span>
											<div class="client-info">
												<h3><a href="#" title="">Komail set</a></h3>
												<p>supervisor</p>
												<a href="#" title=""><i class="fa fa-comment-o"></i></a>
											</div>
										</li>
										<li>
											<span class="user-status away sky-skin">B</span>
											<div class="client-info">
												<h3><a href="#" title="">Bason Durel</a></h3>
												<p>web developer</p>
												<a href="#" title=""><i class="fa fa-comment-o"></i></a>
											</div>
										</li>
										<li>
											<span class="user-status offline red-skin">D</span>
											<div class="client-info">
												<h3><a href="#" title="">Danzil Dare</a></h3>
												<p>software engineer</p>
												<a href="#" title=""><i class="fa fa-comment-o"></i></a>
											</div>
										</li>
										<li>
											<span class="user-status online purple-skin">Z</span>
											<div class="client-info">
												<h3><a href="#" title="">Zubain Dui</a></h3>
												<p>road master</p>
												<a href="#" title=""><i class="fa fa-comment-o"></i></a>
											</div>
										</li>
										<li>
											<span class="user-status online pink-skin">L</span>
											<div class="client-info">
												<h3><a href="#" title="">Lara Croft</a></h3>
												<p>content writer</p>
												<a href="#" title=""><i class="fa fa-comment-o"></i></a>
											</div>
										</li>
										<li>
											<span class="user-status offline sky-skin">B</span>
											<div class="client-info">
												<h3><a href="#" title="">Bisman Dazy</a></h3>
												<p>blogger</p>
												<a href="#" title=""><i class="fa fa-comment-o"></i></a>
											</div>
										</li>
									</ul>
								</div><!-- Our Clients Sec -->
							</div><!-- Widget -->
							<div class="widget">
								<div class="twitter-feed">
									<div class="twitter-account">
										<i class="fa fa-twitter"></i>
										<h3>My Tweets</h3>
										<span>Cooprtator of Web</span>
									</div>
									<div class="twitter-widget">
										<div id="tweecool"></div>
									</div>
								</div>
							</div><!-- Widget -->
							<div class="widget">
								<div class="my-location">
									<div id="mapthree"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div><!-- Profile Sec -->
		</div>
	</div>
</div><!-- Panel Content -->

<script type="text/javascript">
    $(document).ready(function(){
    
    "use strict";

		$('.new-img').change(function (event) {
			var tmppath = URL.createObjectURL(event.target.files[0]);
			$(".profile-banner-sec > img").fadeIn("fast").attr('src',URL.createObjectURL(event.target.files[0]));

			var image = $('.profile-banner-sec > img');
			console.log(image.width());
			setTimeout(function(){
			 	if (image.width() < 500) {
			 		$('.profile-banner-sec > img').attr('src', '');
			 		alert("Please use Large Image minimum width of 500px. Thank you");
			    }
			},100);
		});    	


    	//*** Timeline Gallery ***//
	    $(function() {		
			var foo = $('.post-gallery');
			foo.poptrox({
				usePopupCaption: true
			});
		});

    	//*** Twitter Feed Widget ***//
    	$('#tweecool').tweecool({
			//settings
			username : 'webinane',
			limit : 3
		});


    	//***** Clients lists Scroll *****//
        $(function(){
            $('#people-list').slimScroll({
                height: '210px',
                wheelStep: 10,
                size: '2px'
            });
        });

		//Sort by first name
		$(function() {
			$.fn.sortList = function() {
				var mylist = $(this);
				var listitems = $('li', mylist).get();
				listitems.sort(function(a, b) {
				var compA = $(a).text().toUpperCase();
				var compB = $(b).text().toUpperCase();
				return (compA < compB) ? -1 : 1;
				});
				$.each(listitems, function(i, itm) {
				mylist.append(itm);
			});
			}
		});

	  //Sort by last name
	  $(function() {
	      $.fn.sortListLast = function() {
	      var mylist = $(this);
	      var listitems = $('li', mylist).get();
	      listitems.sort(function(a, b) {
	          var compA = $('.last-name', a).text().toUpperCase();
	          var compB = $('.last-name', b).text().toUpperCase();
	          return (compA < compB) ? -1 : 1;
	      });
	      $.each(listitems, function(i, itm) {
	          mylist.append(itm);
	      });
	     }
	  });

  	//Search filter
	(function ($) {
		// custom css expression for a case-insensitive contains()
		jQuery.expr[':'].Contains = function(a,i,m){
		    return (a.textContent || a.innerText || "").toUpperCase().indexOf(m[3].toUpperCase())>=0;
	};


    function listFilter(searchDir, list) { 
      var form = $("<form>").attr({"class":"filterform","action":"#"}),
          input = $("<input>").attr({"class":"filterinput","type":"text","placeholder":"Live Client Search"});
      $(form).append(input).appendTo(searchDir);

      $(input)
        .change( function () {
          var filter = $(this).val();
          if(filter) {
            $(list).find("li:not(:Contains(" + filter + "))").slideUp();
            $(list).find("li:Contains(" + filter + ")").slideDown();
          } else {
            $(list).find("li").slideDown();
          }
          return false;
        })
      .keyup( function () {
          $(this).change();
      });
    }

    //ondomready
    $(function () {
      listFilter($("#searchDir"), $("#people-list"));
	    });
	  }(jQuery));


    });

</script>
