<div class="toggle-content">
    <div class="panel-setting">
        <div class="row">
            <div class="col-md-2 column">
                <div class="custom-text">
                    <h4>Our Total Counts</h4>
                    <p>Rinter took a galley of type and scrambled ajnare tokeraline..</p>
                </div>
            </div>
            <div class="col-md-10 column">
                <div class="quick-stats">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="quick-stats-box">
                                <p class="data-attributes">
                                    <i>$56</i>
                                    <span data-peity='{ "fill": ["#faa5ff", "rgba(255,255,255,0.15)"],   "innerRadius": 47, "radius": 50 }'>5/7</span>
                                </p>
                                <span>Today Earnings</span>
                            </div>
                        </div>
                       <div class="col-md-2">
                            <div class="quick-stats-box">
                                <p class="data-attributes">
                                    <i>$786</i>
                                    <span data-peity='{ "fill": ["#ffb8b8", "rgba(255,255,255,0.15)"],   "innerRadius": 47, "radius": 50 }'>3/7</span>
                                </p>
                                <span>Refferel</span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="quick-stats-box">
                                <p class="data-attributes">
                                    <i>$345</i>
                                    <span data-peity='{ "fill": ["#ace9ff", "rgba(255,255,255,0.15)"],   "innerRadius": 47, "radius": 50 }'>4/7</span>
                                </p>
                                <span>Commision</span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="quick-stats-box">
                                <p class="data-attributes">
                                    <i>$223</i>
                                    <span data-peity='{ "fill": ["#b8b8ff", "rgba(255,255,255,0.15)"],   "innerRadius": 47, "radius": 50 }'>6/7</span>
                                </p>
                                <span>New Sales</span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="total-sales-info">
                                <span>Total sales made of all time</span>
                                <h3>$1,225</h3>
                                <ul>
                                    <li>
                                        <span>Target</span>
                                        <h5>$2,251</h5>
                                    </li>
                                    <li>
                                        <span>Today</span>
                                        <h5>$107</h5>
                                    </li>
                                    <li>
                                        <span>All time</span>
                                        <h5>$3,463</h5>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <span class="fa fa-close"></span>
</div><!-- Toggle Content -->
<div class="top-bar">
    <div class="logo">
        <a href="#/" title=""><i class="fa fa-deviantart"></i> Electric</a>
         <div class="menu-options"><span class="menu-action"><i></i></span></div>
    </div>
    <form class="search-form">
        <input type="text" placeholder="Search Here..." />
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>
    <ul>
        <li><a title=""><i class="fa fa-plus"></i>New Tasks</a></li>
        <li><a title=""><i class="fa fa-cloud-upload"></i>Upload Files</a></li>
    </ul>
    <div class="quick-links">
        <ul>
            <li><a title="" class="sky-skin"><i class="fa fa-info"></i></a>
                <div class="dialouge notification" style="display: none;">
                    <span>You have 6 New Notification</span>
                    <a title="" href="/"><img alt="" src="images/resource/notification1.jpg">Server 3 is Over Loader Pleas
                    toe Check. <p><i class="fa fa-clock-o"></i>3:45pm</p></a>
                    <a title="" href="/"><img alt="" src="images/resource/notification2.jpg">Server 10 is Over Loader Pleas
                    toe Check. <p><i class="fa fa-clock-o"></i>1:40am</p></a>
                    <a title="" href="/"><img alt="" src="images/resource/notification3.jpg">New User Registered Please Check This <p><i class="fa fa-clock-o"></i>4 Hours ago</p></a>
                    <a class="view-all" href="#">VIEW ALL NOTIFICATIONS</a>
                </div>
            </li>
            <li><a title="" class="purple-skin"><i class="fa fa-comment-o"></i></a>
                <div class="dialouge notification" style="display: none;">
                    <span>You have 3 New Messages</span>
                    <a title="" href="/">Hey! How are You Diana. I waiting for you.
                    toe Check. <p><i class="fa fa-clock-o"></i>3:45pm</p></a>
                    <a title="" href="/">Please Can you Submit A file. I am From Korea
                    toe Check. <p><i class="fa fa-clock-o"></i>1:40am</p></a>
                    <a title="" href="/">Hey Today is Party So you Will Have to Come <p><i class="fa fa-clock-o"></i>4 Hours ago</p></a>
                    <a class="view-all" href="inbox.html">VIEW ALL MESSAGE</a>
                </div>
            </li>
            <li><a title="" class="show-stats red-skin"><i class="fa fa-cog"></i></a></li>
            <li><a title="" id="toolFullScreen" class="pink-skin"><i class="fa fa-arrows-alt"></i></a></li>
        </ul>
    </div>
</div><!-- Top Bar -->
<header class="side-header light-skin opened-menu">
    <div class="admin-details">
        <span><img src="images/resource/admin.jpg" alt="" /></span>
        <h3>John doe</h3>
        <i>Web CODER</i>
        <h5 class="admin-status online">Online</h5>
    </div>
    <div class="menu-scroll">
        <div class="side-menus">
            <span>MAIN LINKS</span>
            <nav>
                <ul>
                    <li class="menu-item-has-children">
                        <a href="" title=""><i class="fa fa-dashboard"></i> <span>Dashboard</a>
                        <ul>
                            <li><a href="#/" title=""><i class="fa fa-circle-o-notch"></i> <span>Dashboard 1</span></a></li>
                            <li><a href="#/dashboard-2" title=""><i class="fa fa-circle-o-notch"></i> <span>Dashboard 2</span></a></li>
                            <li><a href="#/dashboard-3" title=""><i class="fa fa-circle-o-notch"></i><span> Dashboard 3</a></li>
                            <li><a href="#/dashboard-4" title=""><i class="fa fa-circle-o-notch"></i> <span>Dashboard 4</a></li>
                            <li><a href="https://html.webinane.com/electric-admin/horizontal-menu/" title=""><i class="fa fa-circle-o-notch"></i> <span>Dashboard 5</a></li>
                        </ul>
                    </li>
                    <li><a href="#/pages/widget" title=""><i class="fa fa-bolt"></i> <span>Widgets</a></li>
                    <li class="menu-item-has-children">
                        <a href="#" title=""><i class="fa fa-flask"></i> <span>UI Kits</a>
                         <ul>
                            <li><a href="#/pages/profile" title=""><i class="fa fa-circle-o-notch"></i> <span>Profile</a></li>
                            <li><a href="#/pages/buttons" title=""><i class="fa fa-circle-o-notch"></i> <span>Buttons</a></li>
                            <li><a href="#/pages/hover-masters" title=""><i class="fa fa-circle-o-notch"></i> <span>Hover Masters</a></li>
                            <li><a href="#/pages/setting" title=""><i class="fa fa-circle-o-notch"></i> <span>Profile Setting</a></li>
                            <li><a href="#/pages/popovers" title=""><i class="fa fa-circle-o-notch"></i> <span>Popovers</a></li>
                            <li><a href="#/pages/tooltips" title=""><i class="fa fa-circle-o-notch"></i> <span>Tooltips</a></li>
                            <li><a href="#/pages/image-crop" title=""><i class="fa fa-circle-o-notch"></i> <span>Crop Box</a></li>
                            <li><a href="#/pages/pagination" title=""><i class="fa fa-circle-o-notch"></i> <span>Pagination</a></li>
                            <li><a href="#/pages/collapse" title=""><i class="fa fa-circle-o-notch"></i> <span>Collpase</a></li>
                            <li><a href="#/pages/progress-bar" title=""><i class="fa fa-circle-o-notch"></i> <span>Progress Bar</a></li>
                            <li><a href="#/pages/grids-ribbon" title=""><i class="fa fa-circle-o-notch"></i> <span>Ribbon Grids</a></li>
                            <li><a href="#/pages/scroll-box" title=""><i class="fa fa-circle-o-notch"></i> <span>Scroll Box</a></li>
                            <li><a href="#/pages/static-tables" title=""><i class="fa fa-circle-o-notch"></i> <span>Static Tables</a></li>
                            <li><a href="#/pages/timeline" title=""><i class="fa fa-circle-o-notch"></i> <span>Timeline</a></li>
                            <li><a href="#/pages/range-slider" title=""><i class="fa fa-circle-o-notch"></i> <span>Range Slider</a></li>
                            <li><a href="#/pages/font-awesome-icons" title=""><i class="fa fa-circle-o-notch"></i> <span>Font Awesome Icons</a></li>
                            <li><a href="#/pages/themify-icons" title=""><i class="fa fa-circle-o-notch"></i> <span>Themify Icons</a></li>
                            <li><a href="#/pages/css-spinners" title=""><i class="fa fa-circle-o-notch"></i> <span>Css Spinners</a></li>
                            <li><a href="#/pages/tour" title=""><i class="fa fa-circle-o-notch"></i> <span>Page Tour</a></li>
                            <li><a href="#/pages/price-table" title=""><i class="fa fa-circle-o-notch"></i> <span>Price Table</a></li>
                            <li><a href="#/pages/notification" title=""><i class="fa fa-circle-o-notch"></i> <span>Notification</a></li>
                            <li><a href="#/pages/notification-2" title=""><i class="fa fa-circle-o-notch"></i> <span>Notification 2</a></li>
                            <li><a href="#/pages/search" title=""><i class="fa fa-circle-o-notch"></i> <span>Search</a></li>
                            <li><a href="#/pages/grids" title=""><i class="fa fa-circle-o-notch"></i> <span>Grids</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children">
                        <a href="#" title=""><i class="fa fa-flask"></i> <span>Pages</a>
                         <ul>
                            <li><a href="#/pages/blog-post" title=""><i class="fa fa-circle-o-notch"></i> <span>Blog Posts</a></li>
                            <li><a href="#/pages/tickets" title=""><i class="fa fa-circle-o-notch"></i> <span>Tickets</a></li>
                            <li><a href="#/pages/team" title=""><i class="fa fa-circle-o-notch"></i> <span>Our Team</a></li>
                            <li><a href="#/pages/team-2" title=""><i class="fa fa-circle-o-notch"></i> <span>Our Team 2</a></li>
                            <li><a href="#/pages/portfolio" title=""><i class="fa fa-circle-o-notch"></i> <span>Portfolio </a></li>
                            <li><a href="#/pages/portfolio-2" title=""><i class="fa fa-circle-o-notch"></i> <span>Portfolio 2 </a></li>
                            <li><a href="comming-soon.html" title=""><i class="fa fa-circle-o-notch"></i> <span>Comming Soon</a></li>
                            <li><a href="maintenance.html" title=""><i class="fa fa-circle-o-notch"></i> <span>Maintainance</a></li>
                            <li><a href="#/pages/services" title=""><i class="fa fa-circle-o-notch"></i> <span>Services</a></li>
                            <li><a href="#/pages/services-3" title=""><i class="fa fa-circle-o-notch"></i> <span>Services 3</a></li>
                            <li><a href="#/pages/services-2" title=""><i class="fa fa-circle-o-notch"></i> <span>Services 2</a></li>
                            <li><a href="#/pages/contact" title=""><i class="fa fa-circle-o-notch"></i> <span>Contact Us</a></li>
                            <li><a href="#/pages/blank" title=""><i class="fa fa-circle-o-notch"></i> <span>Blank</a></li>
                            <li><a href="#/pages/gallery-2" title=""><i class="fa fa-circle-o-notch"></i> <span>Gallery 2</a></li>
                            <li><a href="#/pages/gallery" title=""><i class="fa fa-circle-o-notch"></i> <span>Gallery</a></li>
                        </ul>
                    </li>
                    <li  class="menu-item-has-children">
                        <a title=""><i class="fa fa-inbox"></i> <span>Emails</a>
                        <ul>
                            <li><a href="#/pages/inbox" title=""><i class="fa fa-circle-o-notch"></i> <span>Inbox</a></li>
                            <li><a href="#/pages/email/compose" title=""><i class="fa fa-circle-o-notch"></i> <span>Email Compose</a></li>
                        </ul>
                    </li>
                    <li  class="menu-item-has-children">
                        <a title=""><i class="fa fa-hdd-o"></i> <span>Forms Elements</a>
                        <ul>
                            <li><a href="#/pages/form-elements" title=""><i class="fa fa-circle-o-notch"></i> <span>Form Elements</a></li>
                            <li><a href="#/pages/step-forms" title=""><i class="fa fa-circle-o-notch"></i> <span>Step Forms</a></li>
                        </ul>
                    </li>
                    <li><a href="#/pages/charts" title=""><i class="fa fa-glass"></i> <span>Charts</a></li>
                    <li  class="menu-item-has-children">
                        <a title=""><i class="fa fa-hdd-o"></i> <span>Maps</a>
                        <ul>
                            <li><a href="#/pages/vector-map" title=""><i class="fa fa-circle-o-notch"></i> <span>Vector Map</a></li>
                            <li><a href="#/pages/google-map" title=""><i class="fa fa-circle-o-notch"></i> <span>Google Map</a></li>
                        </ul>
                    </li>
                    <li  class="menu-item-has-children">
                        <a title=""><i class="fa fa-gift"></i> <span>Extras</a>
                        <ul>
                            <li><a href="#/pages/505" title=""><i class="fa fa-circle-o-notch"></i> <span>505 Server Error</a></li>
                            <li><a href="#/pages/404" title=""><i class="fa fa-circle-o-notch"></i> <span>404 Error Page</a></li>
                            <li><a href="#/forgot-password" title=""><i class="fa fa-circle-o-notch"></i> <span>Forgot Your Password</a></li>
                            <li><a href="#/pages/faq" title=""><i class="fa fa-circle-o-notch"></i> <span>FAQ's</a></li>
                            <li><a href="#/pages/succesful" title=""><i class="fa fa-circle-o-notch"></i> <span>Succesful</a></li>
                            <li><a href="#/pages/billing" title=""><i class="fa fa-circle-o-notch"></i> <span>Billing</a></li>
                            <li><a href="#/pages/invoice" title=""><i class="fa fa-circle-o-notch"></i> <span>Invoice</a></li>
                            <li><a href="#/register" title=""><i class="fa fa-circle-o-notch"></i> <span>Register Now</a></li>
                            <li><a href="#/login" title=""><i class="fa fa-circle-o-notch"></i> <span>Login</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div><!-- Menu Scroll -->
</header>
<script type="text/javascript">
    $(document).ready(function(){
    
    "use strict";
    //***** Side Menu *****//
      $(".side-menus li.menu-item-has-children > a").on("click",function(){
          $(this).parent().siblings().children("ul").slideUp();
          $(this).parent().siblings().removeClass("active");
          $(this).parent().children("ul").slideToggle();
          $(this).parent().toggleClass("active");
          return false;
      });

      //***** Side Menu Option *****//
      $('.menu-options').on("click", function(){
        $(".side-header.opened-menu").toggleClass('slide-menu');
        $(".main-content").toggleClass('wide-content');
        $("footer").toggleClass('wide-footer');
        $(".menu-options").toggleClass('active');
      });

    /*** FIXED Menu APPEARS ON SCROLL DOWN ***/   
    $(window).scroll(function() {    
        var scroll = $(window).scrollTop();
        if (scroll >= 10) {
        $(".side-header").addClass("sticky");
        }
        else{
        $(".side-header").removeClass("sticky");
        $(".side-header").addClass("");
        }
    }); 

    $(".side-menus nav > ul > li ul li > a").on("click", function(){
        $(".side-header").removeClass("slide-menu");
        $(".menu-options").removeClass("active");
    });

      //***** Quick Stats *****//
      $('.show-stats').on("click", function(){
        $(".toggle-content").addClass('active');
      });
     
       //***** Quick Stats *****//
      $('.toggle-content > span').on("click", function(){
        $(".toggle-content").removeClass('active');
      });

      //***** Quick Stats *****//
      $('.quick-links > ul > li > a').on("click", function(){
        $(this).parent().siblings().find('.dialouge').fadeOut();
        $(this).next('.dialouge').fadeIn();
        return false;
      });

      $("html").on("click", function(){
        $(".dialouge").fadeOut();
      });
      $(".quick-links > ul > li > a, .dialouge").on("click",function(e){
            e.stopPropagation();
        });
      
      //***** Toggle Full Screen *****//
      function goFullScreen() {
        var
            el = document.documentElement
          , rfs =
                 el.requestFullScreen
              || el.webkitRequestFullScreen
              || el.mozRequestFullScreen
              || el.msRequestFullscreen

      ;
      rfs.call(el);
      }
      $("#toolFullScreen").on("click",function() {
          goFullScreen();
      });

      //***** Side Menu *****//
      $(function(){
          $('.side-menus').slimScroll({
              height: '400px',
              wheelStep: 10,
              size: '2px'
          });
      });


      $(".data-attributes span").peity("donut");
});
</script>