<div id="progressBar">
	<div class="loader"></div>
</div> 
<div class="breadcrumbs">
	<ul>
		<li><a href="#/" title="">Home</a></li>
		<li><a href="#/pages/billing" title="">Billing</a></li>
	</ul>
</div>

<div class="heading-sec">
	<div class="row">
		<div class="col-md-4 column">
			<div class="heading-profile">
				<h2>Billing</h2>
				<span>Very detailed & featured admin.</span>
			</div>
		</div>
		<div class="col-md-8 column">
			<div class="top-bar-chart">
				<div class="quick-report">
					<div class="quick-report-infos">
						<p>My Balance</p>
						<h3>$21,561.21</h3>
					</div>
					<span class="bar2">5,7,4,6,9,10,13,6,5,4,7,6,5,3</span>
				</div>
				<div class="quick-report">
					<div class="quick-report-infos">
						<p>New orders</p>
						<h3>17,561</h3>
					</div>
					<span class="bar">2,3,7,4,6,9,5,4,3,4,6,4,2</span>
				</div>
			</div><!-- Top Bar Chart -->
		</div>
	</div>
</div><!-- Top Bar Chart -->

<div class="panel-content">
	<div class="row">
		<div class="col-md-12">
			<div class="billing-sec">
				<div class="row">
					<div class="col-md-6 field">
						<label>Your Name <span>*</span> </label>
						<input type="text"  />
					</div>
					<div class="col-md-6 field">
						<label>Last Name <span>*</span> </label>
						<input type="text"  />
					</div>
					<div class="col-md-12 field">
						<label>Company Name <span>*</span> </label>
						<input type="text"  />
					</div>
					<div class="col-md-6 field">
						<label>Street Address <span>*</span> </label>
						<input type="text"  />
					</div>
					<div class="col-md-6 field">
						<label>Street Address 2<span>*</span> </label>
						<input type="text"  />
					</div>
					<div class="col-md-6 field">
						<label>Town / City<span>*</span> </label>
						<input type="text"  />
					</div>
					<div class="col-md-6 field">
						<label>Stats<span>*</span> </label>
						<select>
							<option>Choose your stats</option>
							<option>Your Stats 1</option>
							<option>Your Stats 2</option>
							<option>Your Stats 3</option>
							<option>Your Stats 4</option>
						</select>
					</div>
					<div class="col-md-6 field">
						<label>Zip/Postal Code<span>*</span> </label>
						<input type="text"  />
					</div>
					<div class="col-md-6 field">
						<label>Email Address<span>*</span> </label>
						<input type="text"  />
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="widget-title">
							<h3>Create a account</h3>
							<p>Create an account by entering the information below. If you are a returning customer please login at the top of the page.</p>
						</div>
					</div>
					<div class="col-md-12 field">
						<label>Account Username<span>*</span> </label>
						<input type="text"  />
					</div>
					<div class="col-md-6 field">
						<label>Password<span>*</span> </label>
						<input type="password"  />
					</div>
					<div class="col-md-6 field">
						<label>Retype Password<span>*</span> </label>
						<input type="password"  />
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="widget-title">
							<h3>Shipping Address</h3>
							<p>Create an account by entering the information below. If you are a returning customer please login at the top of the page.</p>
						</div>
					</div>
					<div class="col-md-12 field">
						<label>Coupon Code<span>*</span> </label>
						<input type="text"  />
					</div>
					<div class="col-md-6 field">
						<label>Your Name<span>*</span> </label>
						<input type="text"  />
					</div>
					<div class="col-md-6 field">
						<label>Last Name<span>*</span> </label>
						<input type="text"  />
					</div>
					<div class="col-md-6 field">
						<label>Company Name<span>*</span> </label>
						<input type="text"  />
					</div>
					<div class="col-md-6 field">
						<label>Company Address<span>*</span> </label>
						<input type="text"  />
					</div>
					<div class="col-md-6 field">
						<label>Town / City<span>*</span> </label>
						<input type="text"  />
					</div>
					<div class="col-md-6 field">
						<label>Stats<span>*</span> </label>
						<select>
							<option>Choose your stats</option>
							<option>Your Stats 1</option>
							<option>Your Stats 2</option>
							<option>Your Stats 3</option>
							<option>Your Stats 4</option>
						</select>
					</div>
					<div class="col-md-6 field">
						<label>Zip/Postal Code<span>*</span> </label>
						<input type="text"  />
					</div>
					<div class="col-md-6 field">
						<label>Email Address<span>*</span> </label>
						<input type="text"  />
					</div>
					<div class="col-md-12 field">
						<label>Other Notes<span>*</span> </label>
						<textarea placeholder="Extra notes..."></textarea>
					</div>
				</div>
				<div class="my-cart cart-total-sec">
					<div class="cart-heading">
						<h2>Product Total</h2>
					</div>
					<ul>
						<li><p>Cart Subtotal</p><span>$580</span></li>
						<li><p>Shipping</p><span>Free Shipping</span></li>
						<li><p>Order Total</p><span>$580</span></li>
					</ul>
				</div>
				<div class="payment">
					<ul>
						<li>
							<div class="payment-method">
								<input type="radio" value="bacs" name="payment_method" class="input-radio" id="payment_method_bacs">
								<label for="payment_method_bacs">Direct Bank Transfer </label>
							</div>
							<div class="payment-desc" style="display: block;">							
								<span>Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order wont be shipped until the funds have cleared in our account.</span>
							</div>
						</li>

						<li>
							<div class="payment-method">
								<input type="radio" value="cheque" name="payment_method" class="input-radio" id="payment_method_cheque">
								<label for="payment_method_cheque">Cheque Payment </label>
							</div>
							<div class="payment-desc" style="display: block;">							
								<span>Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order wont be shipped until the funds have cleared in our account.</span>
							</div>
						</li>
						
						<li>
							<div class="payment-method">
								<input type="radio" value="paypal" name="payment_method" class="input-radio" id="payment_method_paypal">
								<label for="payment_method_paypal">PayPal</label>
							</div>
							<div class="payment-desc" style="display: block;">							
								<span>Pay via PayPal; you can pay with your credit card if you don’t have a PayPal account</span>						
							</div>
						</li>
						
						<li>
							<a title="" class="red-skin" href="">Place Order</a>
						</li>
						
					</ul>
					
				</div>
			</div>
		</div>
	</div>
</div><!-- Panel Content -->

<script type="text/javascript">
    $(document).ready(function(){
    
    "use strict";

    	//*** Piety Mini Charts ***//
    	$(function() {
  			$(".bar").peity("bar", {
			  fill: ["#ff8484"],
			  height: ["40px"],
			  width: ["94px"]
			})

			$(".bar2").peity("bar", {
			  fill: ["#9797ff"],
			  height: ["40px"],
			  width: ["94px"]
			})
  		});

    });

</script>
