<div id="progressBar">
	<div class="loader"></div>
</div> 
<div class="breadcrumbs">
	<ul>
		<li><a href="#/" title="">Home</a></li>
		<li><a href="#/pages/collapse" title="">Collapse</a></li>
	</ul>
</div>

<div class="heading-sec">
	<div class="row">
		<div class="col-md-4 column">
			<div class="heading-profile">
				<h2>Collapse</h2>
				<span>Very detailed & featured admin.</span>
			</div>
		</div>
		<div class="col-md-8 column">
			<div class="top-bar-chart">
				<div class="quick-report">
					<div class="quick-report-infos">
						<p>My Balance</p>
						<h3>$21,561.21</h3>
					</div>
					<span class="bar2">5,7,4,6,9,10,13,6,5,4,7,6,5,3</span>
				</div>
				<div class="quick-report">
					<div class="quick-report-infos">
						<p>New orders</p>
						<h3>17,561</h3>
					</div>
					<span class="bar">2,3,7,4,6,9,5,4,3,4,6,4,2</span>
				</div>
			</div><!-- Top Bar Chart -->
		</div>
	</div>
</div><!-- Top Bar Chart -->

<div class="panel-content">
	<div class="row">
		<div class="col-md-6">
			<div class="widget">
				<div class="collapse-sec">
					<div class="widget-title">
						<h3>Simple Collapse</h3>
						<span>Very Beautifull Admin</span>
					</div>
					<div id="accordion" class="panel-group">
						<div class="panel panel-default">
							<div class="panel-heading gray">
								<h4 class="panel-title">
									<a data-target="#collapseOne" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle">
									Collapsible Group Item #1
									</a>
								</h4>
							</div>
							<div class="panel-collapse in" id="collapseOne" style="height: auto;">
								<div class="panel-body">
								  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading gray">
								<h4 class="panel-title">
									<a data-target="#collapseTwo" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle collapsed">
									Collapsible Group Item #2
									</a>
								</h4>
							</div>
							<div class="panel-collapse collapse" id="collapseTwo" style="height: 0px;">
								<div class="panel-body">
								  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. 
								</div>
							</div>
						</div>
						<div class="panel panel-default">
						    <div class="panel-heading gray">
								<h4 class="panel-title">
								  <a data-target="#collapseThree" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle collapsed">
									Collapsible Group Item #3
								  </a>
								</h4>
							</div>
						    <div class="panel-collapse collapse" id="collapseThree" style="height: 0px;">
							    <div class="panel-body">
							        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
							    </div>
						    </div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="widget">
				<div class="collapse-sec">
					<div class="widget-title">
						<h3>White Collapse</h3>
						<span>Very Beautifull Admin</span>
					</div>
					<div id="accordion2" class="panel-group white-collapse">
						<div class="panel panel-default">
						  <div class="panel-heading green">
							<h4 class="panel-title">
							  <a data-target="#collapsefour" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle">
								Collapsible Group Item #1
							  </a>
							</h4>
						  </div>
						  <div class="panel-collapse in" id="collapsefour" style="height: auto;">
							<div class="panel-body">
							  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
							</div>
						  </div>
						</div>
						<div class="panel panel-default">
						  <div class="panel-heading green">
							<h4 class="panel-title">
							  <a data-target="#collapsefive" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle collapsed">
								Collapsible Group Item #2
							  </a>
							</h4>
						  </div>
						  <div class="panel-collapse collapse" id="collapsefive" style="height: 0px;">
							<div class="panel-body">
							  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. 
							</div>
						  </div>
						</div>
						<div class="panel panel-default">
						  <div class="panel-heading green">
							<h4 class="panel-title">
							  <a data-target="#collapsesix" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle collapsed">
								Collapsible Group Item #3
							  </a>
							</h4>
						  </div>
						  <div class="panel-collapse collapse" id="collapsesix" style="height: 0px;">
							<div class="panel-body">
							  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
							</div>
						  </div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<div class="widget">
				<div class="collapse-sec">
					<div class="widget-title">
						<h3>Color Collapse</h3>
						<span>Very Beautifull Admin</span>
					</div>
					<div id="accordion3" class="panel-group">
						<div class="panel panel-default">
						  <div class="panel-heading red-skin">
							<h4 class="panel-title">
							  <a data-target="#collapseOne-l" data-parent="#accordion3" data-toggle="collapse" class="accordion-toggle">
								Collapsible Group Item #1
							  </a>
							</h4>
						  </div>
						  <div class="panel-collapse in" id="collapseOne-l" style="height: auto;">
							<div class="panel-body">
							  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
							</div>
						  </div>
						</div>
						<div class="panel panel-default">
						  <div class="panel-heading purple-skin">
							<h4 class="panel-title">
							  <a data-target="#collapseTwo-l" data-parent="#accordion3" data-toggle="collapse" class="accordion-toggle collapsed">
								Collapsible Group Item #2
							  </a>
							</h4>
						  </div>
						  <div class="panel-collapse collapse" id="collapseTwo-l" style="height: 0px;">
							<div class="panel-body">
							  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. 
							</div>
						  </div>
						</div>
						<div class="panel panel-default">
						  <div class="panel-heading pink-skin">
							<h4 class="panel-title">
							  <a data-target="#collapseThree-l" data-parent="#accordion3" data-toggle="collapse" class="accordion-toggle collapsed">
								Collapsible Group Item #3
							  </a>
							</h4>
						  </div>
						  <div class="panel-collapse collapse" id="collapseThree-l" style="height: 0px;">
							<div class="panel-body">
							  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
							</div>
						  </div>
						</div>
					 </div>
				</div>
			</div>
		</div>
	</div>
</div><!-- Panel Content -->

<script type="text/javascript">
    $(document).ready(function(){
    
    "use strict";

    	//*** Piety Mini Charts ***//
    	$(function() {
  			$(".bar").peity("bar", {
			  fill: ["#ff8484"],
			  height: ["40px"],
			  width: ["94px"]
			})

			$(".bar2").peity("bar", {
			  fill: ["#9797ff"],
			  height: ["40px"],
			  width: ["94px"]
			})
  		});

    });

</script>
