<div id="progressBar">
	<div class="loader"></div>
</div> 
<div class="breadcrumbs">
	<ul>
		<li><a href="#/" title="">Home</a></li>
		<li><a href="#/pages/faq" title="">Faq</a></li>
	</ul>
</div>

<div class="heading-sec">
	<div class="row">
		<div class="col-md-4 column">
			<div class="heading-profile">
				<h2>FAQ's</h2>
				<span>Very detailed & featured admin.</span>
			</div>
		</div>
		<div class="col-md-8 column">
			<div class="top-bar-chart">
				<div class="quick-report">
					<div class="quick-report-infos">
						<p>My Balance</p>
						<h3>$21,561.21</h3>
					</div>
					<span class="bar2">5,7,4,6,9,10,13,6,5,4,7,6,5,3</span>
				</div>
				<div class="quick-report">
					<div class="quick-report-infos">
						<p>New orders</p>
						<h3>17,561</h3>
					</div>
					<span class="bar">2,3,7,4,6,9,5,4,3,4,6,4,2</span>
				</div>
			</div><!-- Top Bar Chart -->
		</div>
	</div>
</div><!-- Top Bar Chart -->

<div class="panel-content">
	<div class="row">
		<div class="col-md-12">
			<div class="accordion">
			  <h3 class="current">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus.</h3>
			  <div class="pane" style="display: block;">
				<p>Mauris mauris ante, blandit et, ultrices a. Mauris mauris ante, blandit et, ultrices a. Mauris mauris ante, blandit et, ultrices</p>
			  </div>
			  <h3>Anim pariatur cliche reprehenderit, enim eiusmod.</h3>
			  <div class="pane" style="display: none;">
				<p>Mauris mauris ante, blandit et, ultrices a. Mauris mauris ante, blandit et, ultrices a. Mauris mauris ante, blandit et, ultrices</p>
			  </div>
			  <h3>Anim pariatur cliche reprehenderit,   high life accusamus.</h3>
			  <div class="pane" style="display: none;">
				<p>Mauris mauris ante, blandit et,  a. Mauris mauris ante, blandit et, ultrices a. Mauris mauris ante, blandit et, ultrices</p>
				</div>
				<h3>Anim pariatur cliche , enim eiusmod high life .</h3>
			  <div class="pane" style="display: none;">
				<p>Mauris mauris ante, blandit et, ultrices a. Mauris mauris ante, blandit et, ultrices a. Mauris mauris ante, blandit et, ultrices</p>
				</div>
				<h3>Anim pariatur cliche reprehenderit, enim  high life .</h3>
			  <div class="pane" style="display: none;">
				<p>Mauris mauris ante, blandit et, ultrices a. Mauris mauris ante, blandit et, ultrices a. Mauris mauris ante, blandit et, ultrices</p>
				</div>
				<h3>Anim  cliche reprehenderit, enim eiusmod  life accusamus.</h3>
			  <div class="pane" style="display: none;">
				<p>Mauris mauris ante, blandit et, ultrices a. Mauris mauris ante, blandit et, ultrices a. Mauris mauris ante, blandit et, ultrices</p>
				</div>
				<h3>Anim  cliche , enim  high life accusamus.</h3>
			  <div class="pane" style="display: none;">
				<p>Mauris mauris ante, blandit et, ultrices a. Mauris mauris ante, blandit et, ultrices a. Mauris mauris ante, blandit et, ultrices</p>
				</div>
				<h3>Anim  cliche , enim eiusmod high life .</h3>
			  <div class="pane" style="display: none;">
				<p>Mauris mauris ante, blandit et, ultrices a. Mauris mauris ante, blandit et, ultrices a. Mauris mauris ante, blandit et, ultrices</p>
				</div>
				<h3>Anim pariatur  , enim eiusmod high life .</h3>
			  <div class="pane" style="display: none;">
				<p>Mauris mauris ante, blandit et, ultrices a. Mauris mauris ante, blandit et, ultrices a. Mauris mauris ante, blandit et, ultrices</p>
				</div>
				<h3>Anim pariatur cliche , enim eiusmod high life .</h3>
			  <div class="pane" style="display: none;">
				<p>Mauris mauris ante, blandit et, ultrices a. Mauris mauris ante, blandit et, ultrices a. Mauris mauris ante, blandit et, ultrices</p>
				</div>
				<h3>Pariatur cliche , enim eiusmod high life .</h3>
			  <div class="pane" style="display: none;">
				<p>Mauris mauris ante, blandit et, ultrices a. Mauris mauris ante, blandit et, ultrices a. Mauris mauris ante, blandit et, ultrices</p>
				</div>
				<h3>Anim  cliche reprehenderit, enim  high life .</h3>
			  <div class="pane" style="display: none;">
				<p>Mauris mauris ante, blandit et, ultrices a. Mauris mauris ante, blandit et, ultrices a. Mauris mauris ante, blandit et, ultrices</p>
				</div>
				<h3>Anim pariatur  reprehenderit, enim eiusmod high  .</h3>
			  <div class="pane" style="display: none;">
				<p>Mauris mauris ante, blandit et, ultrices a. Mauris mauris ante, blandit et, ultrices a. Mauris mauris ante, blandit et, ultrices</p>
				</div>
			</div>
		</div>
	</div>
</div><!-- Panel Content -->

<script type="text/javascript">
    $(document).ready(function(){
    
    "use strict";

    	//*** Accordian ***//
    	$(function(){
		  //  Accordion Panels
		  $(".accordion div").show();
		  setTimeout ("$('.accordion div').slideToggle('fast');", 1000);
		  $(".accordion h3").on("click", function(){
		      $(this).next(".pane").slideToggle("fast").siblings(".pane:visible").slideUp("fast");
		    $(this).toggleClass("current");
		    $(this).siblings("h3").removeClass("current");
		  });
		});

    	//*** Piety Mini Charts ***//
    	$(function() {
  			$(".bar").peity("bar", {
			  fill: ["#ff8484"],
			  height: ["40px"],
			  width: ["94px"]
			})

			$(".bar2").peity("bar", {
			  fill: ["#9797ff"],
			  height: ["40px"],
			  width: ["94px"]
			})
  		});

    });

</script>
