<div id="progressBar">
	<div class="loader"></div>
</div> 
<div class="breadcrumbs">
	<ul>
		<li><a href="#/" title="">Home</a></li>
		<li><a href="#/pages/form-elements" title="">Form Elements</a></li>
	</ul>
</div>

<div class="heading-sec">
	<div class="row">
		<div class="col-md-4 column">
			<div class="heading-profile">
				<h2>Form Elements</h2>
				<span>Very detailed & featured admin.</span>
			</div>
		</div>
		<div class="col-md-8 column">
			<div class="top-bar-chart">
				<div class="quick-report">
					<div class="quick-report-infos">
						<p>My Balance</p>
						<h3>$21,561.21</h3>
					</div>
					<span class="bar2">5,7,4,6,9,10,13,6,5,4,7,6,5,3</span>
				</div>
				<div class="quick-report">
					<div class="quick-report-infos">
						<p>New orders</p>
						<h3>17,561</h3>
					</div>
					<span class="bar">2,3,7,4,6,9,5,4,3,4,6,4,2</span>
				</div>
			</div><!-- Top Bar Chart -->
		</div>
	</div>
</div><!-- Top Bar Chart -->

<div class="panel-content">
	<div class="row">
		<div class="col-md-12">
			<div class="widget">
				<div class="form-elements-sec">
					<div class="widget-title">
						<h3>Range Slider</h3>
						<span>Form elements</span>
					</div>
					<div class="demo demo_left">
						<input id="range_1" type="text" name="range_2" value="" /><!-- Range 1 -->	
					</div>
					<input type="text" id="range_2" /><!-- Range 2 -->
					<input type="text" id="range_3" /><!-- Range 3  -->
					<input type="text" id="range_5" /><!-- Range 5 -->
					<input type="text" id="range_6" /><!-- Range 6 -->
				</div><!-- Form Elements sec -->
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="widget">
				<div class="form-elements-sec">
					<div class="widget-title">
						<h3>Simple Checkbox</h3>
						<span>Form elements</span>
					</div>
					<form>
						<div class="checkbox pull-left">
							<label>
							  <input type="checkbox" value="">
							  Option one is this and that&mdash;be sure to include why it's great
							</label>
						</div>

							<br>
						<div class="radio pull-left">
							<label>
							  <input type="radio" checked="" value="option1" id="optionsRadios1" name="optionsRadios">
							  Option one is this and that&mdash;be sure to include why it's great
							</label>
						</div>
						<div class="radio pull-left">
							<label>
							  <input type="radio" value="option2" id="optionsRadios2" name="optionsRadios">
							  Option two can be something else and selecting it will deselect option one
							</label>
						</div>
					</form>
				</div>
			</div>
			<div class="widget">
				<div class="form-elements-sec">
					<div class="widget-title">
						<h3>Simple Login Form</h3>
						<span>Form elements</span>
					</div>
					<form role="form" class="sec">
					  <div class="form-group">
						<label for="exampleInputEmail1">Email address</label>
						<input type="email" placeholder="Enter email" id="exampleInputEmail1" class="form-control">
					  </div>
					  <div class="form-group">
						<label for="exampleInputPassword1">Password</label>
						<input type="password" placeholder="Password" id="exampleInputPassword1" class="form-control">
					  </div>
					  <div class="form-group">
						<label for="exampleInputFile">File input</label>
						<input type="file" id="exampleInputFile">
						<p class="help-block">Example block-level help text here.</p>
					  </div>
					  <div class="checkbox">
						<label>
						  <input type="checkbox"> Check me out
						</label>
					  </div>
					  <button class="btn btn-default pull-right" type="submit">Submit</button>
					</form>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="widget">
				<div class="form-elements-sec">
					<div class="widget-title">
						<h3>Textarea & Multiselect</h3>
						<span>Form elements</span>
					</div>
					<form>
						<textarea rows="3" class="form-control"></textarea>
					</form>
					<form>
						<select class="form-control">
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
							<option>5</option>
						</select>
						<select class="form-control" multiple="">
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
							<option>5</option>
						</select>
					</form>
				</div>
			</div> 
			<div class="widget">
				<div class="form-elements-sec">
					<form role="form" class="sec">
					  <div class="form-group">
						<label for="exampleInputEmail2" class="sr-only">Email address</label>
						<input type="email" placeholder="Enter email" id="exampleInputEmail2" class="form-control">
					  </div>
					  <div class="form-group">
						<label for="exampleInputPassword2" class="sr-only">Password</label>
						<input type="password" placeholder="Password" id="exampleInputPassword2" class="form-control">
					  </div>
					  <div class="checkbox">
						<label>
						  <input type="checkbox"> Remember me
						</label>
					  </div>
					  <button class="btn green btn-default" type="submit">Sign in</button>
					</form>
				</div>
			</div>
			<div class="widget">
				<div class="form-elements-sec">
					<form>
						<fieldset disabled="">
						<div class="form-group">
						  <label for="disabledTextInput">Disabled input</label>
						  <input type="text" placeholder="Disabled input" class="form-control" id="disabledTextInput">
						</div>
						<div class="form-group">
						  <label for="disabledSelect">Disabled select menu</label>
						  <select class="form-control" id="disabledSelect">
							<option>Disabled select</option>
						  </select>
						</div>
						<div class="checkbox">
						  <label>
							<input type="checkbox"> Can't check this
						  </label>
						</div>
						<button class="btn green btn-primary" type="submit">Submit</button>
					  </fieldset>
					</form>
				</div>
			</div>
		</div>
	</div>
</div><!-- Panel Content -->

<script type="text/javascript">
    $(document).ready(function(){
    
    "use strict";

    	$("#range_1").ionRangeSlider({
		min: 0,
		max: 5000,
		from: 1000,
		to: 4000,
		type: 'double',
		step: 1,
		prefix: "$",
		prettify: true,
		hasGrid: true
	});
	
	$("#range_2").ionRangeSlider();

	$("#range_5").ionRangeSlider({
		min: 0,
		max: 10,
		type: 'single',
		step: 0.1,
		postfix: " mm",
		prettify: false,
		hasGrid: true
	});
	$("#range_6").ionRangeSlider({
		min: -50,
		max: 50,
		from: 0,
		type: 'single',
		step: 1,
		postfix: "°",
		prettify: false,
		hasGrid: true
	});

	$("#range_4").ionRangeSlider({
		type: "single",
		step: 100,
		postfix: " light years",
		from: 55000,
		hideMinMax: true,
		hideFromTo: false
		});
		$("#range_3").ionRangeSlider({
		type: "double",
		postfix: " miles",
		step: 10000,
		from: 25000000,
		to: 35000000,
		onChange: function(obj){
		var t = "";
		for(var prop in obj) {
		t += prop + ": " + obj[prop] + "\r\n";
		}
		$("#result").html(t);
		},
		onLoad: function(obj) {
		//
		}
	});


    	//*** Piety Mini Charts ***//
    	$(function() {
  			$(".bar").peity("bar", {
			  fill: ["#ff8484"],
			  height: ["40px"],
			  width: ["94px"]
			})

			$(".bar2").peity("bar", {
			  fill: ["#9797ff"],
			  height: ["40px"],
			  width: ["94px"]
			})
  		});

    });

</script>
