<div id="progressBar">
	<div class="loader"></div>
</div> 
<div class="breadcrumbs">
	<ul>
		<li><a href="#/" title="">Home</a></li>
		<li><a href="#/pages/gallery" title="">Gallery</a></li>
	</ul>
</div>

<div class="heading-sec">
	<div class="row">
		<div class="col-md-4 column">
			<div class="heading-profile">
				<h2>Gallery</h2>
				<span>Very detailed & featured admin.</span>
			</div>
		</div>
		<div class="col-md-8 column">
			<div class="top-bar-chart">
				<div class="quick-report">
					<div class="quick-report-infos">
						<p>My Balance</p>
						<h3>$21,561.21</h3>
					</div>
					<span class="bar2">5,7,4,6,9,10,13,6,5,4,7,6,5,3</span>
				</div>
				<div class="quick-report">
					<div class="quick-report-infos">
						<p>New orders</p>
						<h3>17,561</h3>
					</div>
					<span class="bar">2,3,7,4,6,9,5,4,3,4,6,4,2</span>
				</div>
			</div><!-- Top Bar Chart -->
		</div>
	</div>
</div><!-- Top Bar Chart -->

<div class="panel-content">
	<div class="gallery-sec">
		<div class="row">
			<div class="col-md-4">
				<div class="gallery-box">
					<img src="images/resource/gallery1.jpg" alt="" />
					<div class="gallery-inner">
						<div class="gallery-padding">
							<div class="gallery-info">
								<h3>Simple Gallery</h3>
								<p>Lorem ipsum dolor sit amet, conse adi iscing. dolor sit amet, conse adip.Lpsu dolor sit amet,conse adipiscing. </p>
								<ul>
									<li><a title=""><i class="fa fa-share"></i></a></li>
									<li><a href="images/preview.png" title=""><i class="fa fa-search"></i></a></li>
								</ul>
							</div><!-- Gallery Info -->
						</div>
					</div>
				</div><!-- Gallery Box -->
			</div>
			<div class="col-md-4">
				<div class="gallery-box">
					<img src="images/resource/gallery2.jpg" alt="" />
					<div class="gallery-inner">
						<div class="gallery-padding">
							<div class="gallery-info">
								<h3>Simple Gallery</h3>
								<p>Lorem ipsum dolor sit amet, conse adi iscing. dolor sit amet, conse adip.Lpsu dolor sit amet,conse adipiscing. </p>
								<ul>
									<li><a title=""><i class="fa fa-share"></i></a></li>
									<li><a href="images/preview.png" title=""><i class="fa fa-search"></i></a></li>
								</ul>
							</div><!-- Gallery Info -->
						</div>
					</div>
				</div><!-- Gallery Box -->
			</div>
			<div class="col-md-4">
				<div class="gallery-box">
					<img src="images/resource/gallery3.jpg" alt="" />
					<div class="gallery-inner">
						<div class="gallery-padding">
							<div class="gallery-info">
								<h3>Simple Gallery</h3>
								<p>Lorem ipsum dolor sit amet, conse adi iscing. dolor sit amet, conse adip.Lpsu dolor sit amet,conse adipiscing. </p>
								<ul>
									<li><a title=""><i class="fa fa-share"></i></a></li>
									<li><a href="images/preview.png" title=""><i class="fa fa-search"></i></a></li>
								</ul>
							</div><!-- Gallery Info -->
						</div>
					</div>
				</div><!-- Gallery Box -->
			</div>
			<div class="col-md-4">
				<div class="gallery-box">
					<img src="images/resource/gallery4.jpg" alt="" />
					<div class="gallery-inner">
						<div class="gallery-padding">
							<div class="gallery-info">
								<h3>Simple Gallery</h3>
								<p>Lorem ipsum dolor sit amet, conse adi iscing. dolor sit amet, conse adip.Lpsu dolor sit amet,conse adipiscing. </p>
								<ul>
									<li><a title=""><i class="fa fa-share"></i></a></li>
									<li><a href="images/preview.png" title=""><i class="fa fa-search"></i></a></li>
								</ul>
							</div><!-- Gallery Info -->
						</div>
					</div>
				</div><!-- Gallery Box -->
			</div>
			<div class="col-md-4">
				<div class="gallery-box">
					<img src="images/resource/gallery5.jpg" alt="" />
					<div class="gallery-inner">
						<div class="gallery-padding">
							<div class="gallery-info">
								<h3>Simple Gallery</h3>
								<p>Lorem ipsum dolor sit amet, conse adi iscing. dolor sit amet, conse adip.Lpsu dolor sit amet,conse adipiscing. </p>
								<ul>
									<li><a title=""><i class="fa fa-share"></i></a></li>
									<li><a href="images/preview.png" title=""><i class="fa fa-search"></i></a></li>
								</ul>
							</div><!-- Gallery Info -->
						</div>
					</div>
				</div><!-- Gallery Box -->
			</div>
			<div class="col-md-4">
				<div class="gallery-box">
					<img src="images/resource/gallery6.jpg" alt="" />
					<div class="gallery-inner">
						<div class="gallery-padding">
							<div class="gallery-info">
								<h3>Simple Gallery</h3>
								<p>Lorem ipsum dolor sit amet, conse adi iscing. dolor sit amet, conse adip.Lpsu dolor sit amet,conse adipiscing. </p>
								<ul>
									<li><a title=""><i class="fa fa-share"></i></a></li>
									<li><a href="images/preview.png" title=""><i class="fa fa-search"></i></a></li>
								</ul>
							</div><!-- Gallery Info -->
						</div>
					</div>
				</div><!-- Gallery Box -->
			</div>
		</div>
	</div><!-- gallery Section -->
</div><!-- Panel Content -->

<script type="text/javascript">
$(document).ready(function(){
    
    "use strict";

	//*** Timeline Gallery ***//
    $(function() {		
		var foo = $('.gallery-info ul li');
		foo.poptrox({
			usePopupCaption: false
		});
	});

	//*** Piety Mini Charts ***//
	$(function() {
			$(".bar").peity("bar", {
		  fill: ["#ff8484"],
		  height: ["40px"],
		  width: ["94px"]
		})

		$(".bar2").peity("bar", {
		  fill: ["#9797ff"],
		  height: ["40px"],
		  width: ["94px"]
		})
	});
});

</script>
