<div id="progressBar">
	<div class="loader"></div>
</div> 
<div class="breadcrumbs">
	<ul>
		<li><a href="#/" title="">Home</a></li>
		<li><a href="#/pages/inbox" title="">Inbox</a></li>
	</ul>
</div>

<div class="heading-sec">
	<div class="row">
		<div class="col-md-4 column">
			<div class="heading-profile">
				<h2>Inbox</h2>
				<span>Very detailed & featured admin.</span>
			</div>
		</div>
		<div class="col-md-8 column">
			<div class="top-bar-chart">
				<div class="quick-report">
					<div class="quick-report-infos">
						<p>My Balance</p>
						<h3>$21,561.21</h3>
					</div>
					<span class="bar2">5,7,4,6,9,10,13,6,5,4,7,6,5,3</span>
				</div>
				<div class="quick-report">
					<div class="quick-report-infos">
						<p>New orders</p>
						<h3>17,561</h3>
					</div>
					<span class="bar">2,3,7,4,6,9,5,4,3,4,6,4,2</span>
				</div>
			</div><!-- Top Bar Chart -->
		</div>
	</div>
</div><!-- Top Bar Chart -->

<div class="panel-content">
	<div class="row">
		<div class="col-md-12">
			<div class="inbox-sec">
				<div class="row">
					<div class="col-md-3">
						<div class="inbox-navigation">
							<div class="inbox-panel-head">
								<img alt="" src="images/resource/admin.jpg">
								<h1><i>Brian</i> Kelly</h1>
								<a title="" href="#/pages/profile"><i class="fa fa-user"></i>Profile</a>
								<a title="" href="#/pages/setting"><i class="fa fa-cog"></i>Setting</a>
								<ul>
									<li><a class="compose-btn" title="" href="#">Compose</a></li>
								</ul>
							</div><!-- Inbox Panel Head -->
							<ul>
								<li class="active"><a title=""><i class="fa fa-inbox"></i>Inbox</a><span>4</span></li>
								<li><a title=""><i class="fa fa-paper-plane-o"></i>Draft</a></li>
								<li><a title=""><i class="fa fa-repeat"></i>Outbox</a><span>6</span></li>
								<li><a title=""><i class="fa fa-plane"></i>Sent</a></li>
								<li><a title=""><i class="fa fa-trash-o"></i>Trash</a></li>
							</ul>
							<div class="flaged">
								<h3><i class="fa fa-flag"></i>FLAGGED</h3>
								<ul>
									<li><a title="" href="#"><i style="color:#ff5c5c;" class="fa fa-tag"></i>Family</a></li>
									<li><a title="" href="#"><i style="color:#3ac1e3;" class="fa fa-tag"></i>Friends</a></li>
									<li><a title="" href="#"><i style="color:#f3d547;" class="fa fa-tag"></i>Private</a></li>
									<li><a title="" href="#"><i style="color:#b447f3;" class="fa fa-tag"></i>Office Staff</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-9">
						<div class="inbox-lists">
							<div class="inbox-action">
								<ul>
									<li><label><input type="checkbox" name="select-all" id="select_all" /> Select all</label></li>
									<li><a class="delete-email" title=""><i class="fa fa-trash-o"></i> Delete</a></li>
									<li><a title=""><i class="fa fa-refresh"></i> Refresh</a></li>
								</ul>
							</div>
							<div class="mesages-lists">
								<div id="searchDir"></div>
								<ul id="message-list" class="message-list">
									<li class="unread">
										<input class="select-message" type="checkbox" />
										<span class="star-this starred"><i class="fa fa-star-o"></i></span>

										<h3 class="sender-name">Darlina Jaze</h3>
										<a title="" data-toggle="tooltip" data-original-title="Attachment"><i class="fa fa-paperclip"></i></a>
										<span class="make-important"><i class="fa fa-thumb-tack"></i></span>
										
										<p>It is a long established fact that a reader will be distracted</p>
									</li>
									<li class="unread">
										<input class="select-message" type="checkbox" />
										<span class="star-this "><i class="fa fa-star-o"></i></span>

										<h3 class="sender-name">Barlina Maze</h3>
										<span class="make-important"><i class="fa fa-thumb-tack"></i></span>
										
										<p>That a reader will be distracted by the readable content..</p>
									</li>
									<li class="read">
										<input class="select-message" type="checkbox" />
										<span class="star-this starred"><i class="fa fa-star-o"></i></span>

										<h3 class="sender-name">Jonathan Dae</h3>
										<span class="make-important"><i class="fa fa-thumb-tack"></i></span>
										
										<p>Will be distracted by the readable..</p>
									</li>
									<li class="read">
										<input class="select-message" type="checkbox" />
										<span class="star-this"><i class="fa fa-star-o"></i></span>

										<h3 class="sender-name">Humaina Burb</h3>
										<a title="" data-toggle="tooltip" data-original-title="Attachment"><i class="fa fa-paperclip"></i></a>
										<span class="make-important important-done"><i class="fa fa-thumb-tack"></i></span>
										
										<p>It is a long established fact by the readable ponkaa..</p>
									</li>
									<li class="unread">
										<input class="select-message" type="checkbox" />
										<span class="star-this "><i class="fa fa-star-o"></i></span>

										<h3 class="sender-name">Barlina Maze</h3>
										<span class="make-important"><i class="fa fa-thumb-tack"></i></span>
										
										<p>Long  will be distracted by the readable..</p>
									</li>
									<li class="unread">
										<input class="select-message" type="checkbox" />
										<span class="star-this starred"><i class="fa fa-star-o"></i></span>

										<h3 class="sender-name">Darlina Jaze</h3>
										<a title="" data-toggle="tooltip" data-original-title="Attachment"><i class="fa fa-paperclip"></i></a>
										<span class="make-important"><i class="fa fa-thumb-tack"></i></span>
										
										<p>Reader will be distracted by the nalanye..</p>
									</li>
									<li class="unread">
										<input class="select-message" type="checkbox" />
										<span class="star-this starred"><i class="fa fa-star-o"></i></span>

										<h3 class="sender-name">Darlina Jaze</h3>
										<a title="" data-toggle="tooltip" data-original-title="Attachment"><i class="fa fa-paperclip"></i></a>
										<span class="make-important"><i class="fa fa-thumb-tack"></i></span>
										
										<p>It is a long established fact that a reader will be distracted</p>
									</li>
									<li class="unread">
										<input class="select-message" type="checkbox" />
										<span class="star-this "><i class="fa fa-star-o"></i></span>

										<h3 class="sender-name">Barlina Maze</h3>
										<span class="make-important"><i class="fa fa-thumb-tack"></i></span>
										
										<p>That a reader will be distracted by the readable content..</p>
									</li>
									<li class="read">
										<input class="select-message" type="checkbox" />
										<span class="star-this starred"><i class="fa fa-star-o"></i></span>

										<h3 class="sender-name">Jonathan Dae</h3>
										<span class="make-important"><i class="fa fa-thumb-tack"></i></span>
										
										<p>Will be distracted by the readable..</p>
									</li>
									<li class="read">
										<input class="select-message" type="checkbox" />
										<span class="star-this"><i class="fa fa-star-o"></i></span>

										<h3 class="sender-name">Humaina Burb</h3>
										<a title="" data-toggle="tooltip" data-original-title="Attachment"><i class="fa fa-paperclip"></i></a>
										<span class="make-important important-done"><i class="fa fa-thumb-tack"></i></span>
										
										<p>It is a long established fact by the readable ponkaa..</p>
									</li>
									<li class="unread">
										<input class="select-message" type="checkbox" />
										<span class="star-this "><i class="fa fa-star-o"></i></span>

										<h3 class="sender-name">Barlina Maze</h3>
										<span class="make-important"><i class="fa fa-thumb-tack"></i></span>
										
										<p>Long  will be distracted by the readable..</p>
									</li>
									<li class="unread">
										<input class="select-message" type="checkbox" />
										<span class="star-this starred"><i class="fa fa-star-o"></i></span>

										<h3 class="sender-name">Darlina Jaze</h3>
										<a title="" data-toggle="tooltip" data-original-title="Attachment"><i class="fa fa-paperclip"></i></a>
										<span class="make-important"><i class="fa fa-thumb-tack"></i></span>
										
										<p>Reader will be distracted by the nalanye..</p>
									</li>
								</ul>
							</div>
						</div><!-- Inbox lists -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div><!-- Panel Content -->

<script type="text/javascript">
    $(document).ready(function(){
    
    "use strict";

    //***** Slim  Scroll *****//
    $(function(){
        $('.message-list').slimScroll({
            height: '575px',
            distance: '20px',
            wheelStep: 10,
            size: '2px'
        });
    });

     //***** Message Star *****//  
    $('.message-list > li > span.star-this').on("click", function(){
    	$(this).toggleClass('starred');
    });


    //***** Message Important *****//
    $('.message-list > li > span.make-important').on("click", function(){
    	$(this).toggleClass('important-done');
    });

    

    // Listen for click on toggle checkbox
	$('#select_all').click(function(event) {
	  if(this.checked) {
	      // Iterate each checkbox
	      $('input:checkbox.select-message').each(function() {
	          this.checked = true;
	      });
	  }
	  else {
	    $('input:checkbox.select-message').each(function() {
	          this.checked = false;
	      });
	  }
	});


	$(".delete-email").on("click",function(){
		$(".message-list .select-message").each(function(){
			  if(this.checked) {
			  	$(this).parent().slideUp();
			  }
		});
	});

    //Sort by first name
	$(function() {
		$.fn.sortList = function() {
			var mylist = $(this);
			var listitems = $('li', mylist).get();
			listitems.sort(function(a, b) {
			var compA = $(a).text().toUpperCase();
			var compB = $(b).text().toUpperCase();
			return (compA < compB) ? -1 : 1;
			});
			$.each(listitems, function(i, itm) {
			mylist.append(itm);
			});
		}
	});

	//Sort by last name
	$(function() {
	  $.fn.sortListLast = function() {
	  var mylist = $(this);
	  var listitems = $('li', mylist).get();
	  listitems.sort(function(a, b) {
	      var compA = $('.last-name', a).text().toUpperCase();
	      var compB = $('.last-name', b).text().toUpperCase();
	      return (compA < compB) ? -1 : 1;
	  });
	  $.each(listitems, function(i, itm) {
	      mylist.append(itm);
	  });
	 }
	});

	//Search filter
	(function ($) {
	// custom css expression for a case-insensitive contains()
	jQuery.expr[':'].Contains = function(a,i,m){
	    return (a.textContent || a.innerText || "").toUpperCase().indexOf(m[3].toUpperCase())>=0;
	};


	function listFilter(searchDir, list) { 
	var form = $("<form>").attr({"class":"filterform","action":"#"}),
	  input = $("<input>").attr({"class":"filterinput","type":"text","placeholder":"Live Emails Search"});
	$(form).append(input).appendTo(searchDir);

	$(input)
	.change( function () {
	  var filter = $(this).val();
	  if(filter) {
	    $(list).find("li:not(:Contains(" + filter + "))").slideUp();
	    $(list).find("li:Contains(" + filter + ")").slideDown();
	  } else {
	    $(list).find("li").slideDown();
	  }
	  return false;
	})
	.keyup( function () {
	  $(this).change();
	});
	}

	//ondomready
	$(function () {
	listFilter($("#searchDir"), $("#message-list"));
	});
	}(jQuery));


	//*** Piety Mini Charts ***//
	$(function() {
			$(".bar").peity("bar", {
		  fill: ["#ff8484"],
		  height: ["40px"],
		  width: ["94px"]
		})

		$(".bar2").peity("bar", {
		  fill: ["#9797ff"],
		  height: ["40px"],
		  width: ["94px"]
		})
	});

    });

</script>
