<div id="progressBar">
	<div class="loader"></div>
</div> 
<div class="breadcrumbs">
	<ul>
		<li><a href="#/" title="">Home</a></li>
		<li><a href="#/pages/notification-2" title="">Notification 2</a></li>
	</ul>
</div>

<div class="heading-sec">
	<div class="row">
		<div class="col-md-4 column">
			<div class="heading-profile">
				<h2>Notifications with Images</h2>
				<span>Very detailed & featured admin.</span>
			</div>
		</div>
		<div class="col-md-8 column">
			<div class="top-bar-chart">
				<div class="quick-report">
					<div class="quick-report-infos">
						<p>My Balance</p>
						<h3>$21,561.21</h3>
					</div>
					<span class="bar2">5,7,4,6,9,10,13,6,5,4,7,6,5,3</span>
				</div>
				<div class="quick-report">
					<div class="quick-report-infos">
						<p>New orders</p>
						<h3>17,561</h3>
					</div>
					<span class="bar">2,3,7,4,6,9,5,4,3,4,6,4,2</span>
				</div>
			</div><!-- Top Bar Chart -->
		</div>
	</div>
</div><!-- Top Bar Chart -->

<div class="panel-content">
	<div class="notification-sec">
		<div class="row">
			<div class="col-md-6">
				<div class="widget no-color">
					<div class="notify simple with-image">
						<span><img src="images/resource/notify1.jpg" alt="" /></span>
						<div class="notify-content"><h3>Komail set</h3><p>Lorem ipsum dolor sit amet, conse adipiscing.</p>
						<a title="" class="close">x</a></div>
					</div>
				</div>
				<div class="widget no-color">
					<div class="notify simple with-image">
						<span><img src="images/resource/notify2.jpg" alt="" /></span>
						<div class="notify-content"><h3>Komail set</h3><p>Lorem ipsum dolor sit amet, conse adipiscing.</p>
						<a title="" class="close">x</a></div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="widget no-color">
					<div class="notify red-skin with-color with-image">
						<span><img src="images/resource/notify3.jpg" alt="" /></span>
						<div class="notify-content"><h3>Komail set</h3><p>Lorem ipsum dolor sit amet, conse adipiscing.</p>
						<a title="" class="close">x</a></div>
					</div>
				</div>
				<div class="widget no-color ">
					<div class="notify purple-skin with-color with-image">
						<span><img src="images/resource/notify4.jpg" alt="" /></span>
						<div class="notify-content"><h3>Komail set</h3><p>Lorem ipsum dolor sit amet, conse adipiscing.</p>
						<a title="" class="close">x</a></div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="widget no-color">
					<div class="notify red-skin with-color with-image rounded">
						<span><img src="images/resource/notify3.jpg" alt="" /></span>
						<div class="notify-content"><h3>Komail set</h3><p>Lorem ipsum dolor sit amet, conse adipiscing.</p>
						<a title="" class="close">x</a></div>
					</div>
				</div>
				<div class="widget no-color ">
					<div class="notify purple-skin with-color with-image rounded">
						<span><img src="images/resource/notify4.jpg" alt="" /></span>
						<div class="notify-content"><h3>Komail set</h3><p>Lorem ipsum dolor sit amet, conse adipiscing.</p>
						<a title="" class="close">x</a></div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="widget no-color">
					<div class="notify simple with-image rounded">
						<span><img src="images/resource/notify1.jpg" alt="" /></span>
						<div class="notify-content"><h3>Komail set</h3><p>Lorem ipsum dolor sit amet, conse adipiscing.</p>
						<a title="" class="close">x</a></div>
					</div>
				</div>
				<div class="widget no-color">
					<div class="notify simple with-image rounded">
						<span><img src="images/resource/notify2.jpg" alt="" /></span>
						<div class="notify-content"><h3>Komail set</h3><p>Lorem ipsum dolor sit amet, conse adipiscing.</p>
						<a title="" class="close">x</a></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div><!-- Panel Content -->

<script type="text/javascript">
    $(document).ready(function(){
    
    "use strict";

    	//*** Notify Close ***//
    	$('.notify .close').on("click", function(){
    		$(this).parent().parent().slideUp();
    	});

    	//*** Piety Mini Charts ***//
    	$(function() {
  			$(".bar").peity("bar", {
			  fill: ["#ff8484"],
			  height: ["40px"],
			  width: ["94px"]
			})

			$(".bar2").peity("bar", {
			  fill: ["#9797ff"],
			  height: ["40px"],
			  width: ["94px"]
			})
  		});

    });

</script>
