<div id="progressBar">
	<div class="loader"></div>
</div> 
<div class="breadcrumbs">
	<ul>
		<li><a href="#/" title="">Home</a></li>
		<li><a href="#/pages/static-tables" title="">Static Tables</a></li>
	</ul>
</div>

<div class="heading-sec">
	<div class="row">
		<div class="col-md-4 column">
			<div class="heading-profile">
				<h2>Static Tables</h2>
				<span>Very detailed & featured admin.</span>
			</div>
		</div>
		<div class="col-md-8 column">
			<div class="top-bar-chart">
				<div class="quick-report">
					<div class="quick-report-infos">
						<p>My Balance</p>
						<h3>$21,561.21</h3>
					</div>
					<span class="bar2">5,7,4,6,9,10,13,6,5,4,7,6,5,3</span>
				</div>
				<div class="quick-report">
					<div class="quick-report-infos">
						<p>New orders</p>
						<h3>17,561</h3>
					</div>
					<span class="bar">2,3,7,4,6,9,5,4,3,4,6,4,2</span>
				</div>
			</div><!-- Top Bar Chart -->
		</div>
	</div>
</div><!-- Top Bar Chart -->

<div class="panel-content">
	<div class="row">
		<div class="col-md-12">
			<div class="widget">
				<div class="table-area">
					<div class="widget-title">
						<h3>Simple Table</h3>
						<span>Inovations is great</span>
					</div>
					<div class="table-responsive">
					    <table class="table">
					        <thead>
					            <tr>
					                <th>Row</th>
					                <th>First Name</th>
					                <th>Last Name</th>
					                <th>Email</th>
					            </tr>
					        </thead>
					        <tbody>
					            <tr>
					                <td>1</td>
					                <td>John</td>
					                <td>Carter</td>
					                <td>johncarter@mail.com</td>
					            </tr>
					            <tr>
					                <td>2</td>
					                <td>Peter</td>
					                <td>Parker</td>
					                <td>peterparker@mail.com</td>
					            </tr>
					            <tr>
					                <td>3</td>
					                <td>John</td>
					                <td>Rambo</td>
					                <td>johnrambo@mail.com</td>
					            </tr>
					        </tbody>
					    </table>
					</div>
				</div>
			</div>
			<div class="widget">
				<div class="table-area">
					<div class="widget-title">
						<h3>Tables with Alternate Background</h3>
						<span>Inovations is great</span>
					</div>
					<div class="table-responsive">
					    <table class="table table-striped">
					        <thead>
					            <tr>
					                <th>Row</th>
					                <th>First Name</th>
					                <th>Last Name</th>
					                <th>Email</th>
					            </tr>
					        </thead>
					        <tbody>
					            <tr>
					                <td>1</td>
					                <td>John</td>
					                <td>Carter</td>
					                <td>johncarter@mail.com</td>
					            </tr>
					            <tr>
					                <td>2</td>
					                <td>Peter</td>
					                <td>Parker</td>
					                <td>peterparker@mail.com</td>
					            </tr>
					            <tr>
					                <td>3</td>
					                <td>John</td>
					                <td>Rambo</td>
					                <td>johnrambo@mail.com</td>
					            </tr>
					        </tbody>
					    </table>
					</div>
				</div>
			</div>

			<div class="widget">
				<div class="table-area">
					<div class="widget-title">
						<h3>Tables with Border</h3>
						<span>Inovations is great</span>
					</div>
					<div class="table-responsive">
					    <table class="table table-bordered">
					        <thead>
					            <tr>
					                <th>Row</th>
					                <th>First Name</th>
					                <th>Last Name</th>
					                <th>Email</th>
					            </tr>
					        </thead>
					        <tbody>
					            <tr>
					                <td>1</td>
					                <td>John</td>
					                <td>Carter</td>
					                <td>johncarter@mail.com</td>
					            </tr>
					            <tr>
					                <td>2</td>
					                <td>Peter</td>
					                <td>Parker</td>
					                <td>peterparker@mail.com</td>
					            </tr>
					            <tr>
					                <td>3</td>
					                <td>John</td>
					                <td>Rambo</td>
					                <td>johnrambo@mail.com</td>
					            </tr>
					        </tbody>
					    </table>
					</div>
				</div>
			</div>

			<div class="widget">
				<div class="table-area">
					<div class="widget-title">
						<h3>Enable Hover State on Table Rows</h3>
						<span>Inovations is great</span>
					</div>
					<div class="table-responsive">
					    <table class="table table-hover">
					        <thead>
					            <tr>
					                <th>Row</th>
					                <th>First Name</th>
					                <th>Last Name</th>
					                <th>Email</th>
					            </tr>
					        </thead>
					        <tbody>
					            <tr>
					                <td>1</td>
					                <td>John</td>
					                <td>Carter</td>
					                <td>johncarter@mail.com</td>
					            </tr>
					            <tr>
					                <td>2</td>
					                <td>Peter</td>
					                <td>Parker</td>
					                <td>peterparker@mail.com</td>
					            </tr>
					            <tr>
					                <td>3</td>
					                <td>John</td>
					                <td>Rambo</td>
					                <td>johnrambo@mail.com</td>
					            </tr>
					        </tbody>
					    </table>
					</div>
				</div>
			</div>

			<div class="widget">
				<div class="table-area">
					<div class="widget-title">
						<h3>Optional Emphasis Classes for Table Rows</h3>
						<span>Inovations is great</span>
					</div>
					<div class="table-responsive">
					    <table class="table">
					        <thead>
					            <tr>
					                <th>Row</th>
					                <th>Bill</th>
					                <th>Payment Date</th>
					                <th>Payment Status</th>
					            </tr>
					        </thead>
					        <tbody>
					            <tr class="active">
					                <td>1</td>
					                <td>Credit Card</td>
					                <td>04/07/2014</td>
					                <td>Call in to confirm</td>
					            </tr>
					            <tr class="success">
					                <td>2</td>
					                <td>Water</td>
					                <td>01/07/2014</td>
					                <td>Paid</td>
					            </tr>
					            <tr class="info">
					                <td>3</td>
					                <td>Internet</td>
					                <td>05/07/2014</td>
					                <td>Change plan</td>
					            </tr>
					            <tr class="warning">
					                <td>4</td>
					                <td>Electricity</td>
					                <td>03/07/2014</td>
					                <td>Pending</td>
					            </tr>
					            <tr class="danger">
					                <td>5</td>
					                <td>Telephone</td>
					                <td>06/07/2014</td>
					                <td>Due</td>
					            </tr>
					        </tbody>
					    </table>
					</div>
				</div>
			</div>

			<div class="widget">
				<div class="table-area">
					<div class="widget-title">
						<h3>Creating Responsive Tables with Bootstrap</h3>
						<span>Inovations is great</span>
					</div>
				    <div class="table-responsive"> 
				        <table class="table table-bordered">
				            <thead>
				                <tr>
				                    <th>Row</th>
				                    <th>First Name</th>
				                    <th>Last Name</th>
				                    <th>Email</th>
				                    <th>Biography</th>
				                </tr>
				            </thead>
				            <tbody>
				                <tr>
				                    <td>1</td>
				                    <td>John</td>
				                    <td>Carter</td>
				                    <td>johncarter@mail.com</td>
				                    <td>Lorem ipsum dolor sit amet…</td>
				                </tr>

				                <tr>
				                    <td>2</td>
				                    <td>Peter</td>
				                    <td>Parker</td>
				                    <td>peterparker@mail.com</td>
				                    <td>Vestibulum consectetur scelerisque…</td>
				                </tr>
				                <tr>
				                    <td>3</td>
				                    <td>John</td>
				                    <td>Rambo</td>
				                    <td>johnrambo@mail.com</td>
				                    <td>Integer pulvinar leo id risus…</td>
				                </tr>
				            </tbody>
				        </table>
				    </div>
				</div>
			</div>

		</div>
	</div>
</div><!-- Panel Content -->

<script type="text/javascript">
    $(document).ready(function(){
    
    "use strict";

    	//*** Piety Mini Charts ***//
    	$(function() {
  			$(".bar").peity("bar", {
			  fill: ["#ff8484"],
			  height: ["40px"],
			  width: ["94px"]
			})

			$(".bar2").peity("bar", {
			  fill: ["#9797ff"],
			  height: ["40px"],
			  width: ["94px"]
			})
  		});

    });

</script>
