<!-- ========================= header start ========================= -->
<header class="header">
    <div class="navbar-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg">
                        <a class="navbar-brand" href="../../../../index.html">
                            <img src="../../../../assets/img/logo/logo.png" alt="Logo" />
                        </a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="toggler-icon"></span>
                            <span class="toggler-icon"></span>
                            <span class="toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                            <ul id="nav" class="navbar-nav ms-auto">
                                <li class="nav-item">
                                    <a class="page-scroll active" href="#home">Anasayfa</a>
                                </li>
                                <li class="nav-item">
                                    <a class="page-scroll" href="#feature">Özellikler</a>
                                </li>
                                <li class="nav-item">
                                    <a class="page-scroll" href="#about">Hakkında</a>
                                </li>
                                <li class="nav-item">
                                    <a class="page-scroll" href="#explore">Keşfet</a>
                                </li>
                                <li class="nav-item">
                                    <a class="page-scroll" href="#faq">S.S.S.</a>
                                </li>
                            </ul>
                        </div>
                        <!-- navbar collapse -->
                    </nav>
                    <!-- navbar -->
                </div>
            </div>
            <!-- row -->
        </div>
        <!-- container -->
    </div>
    <!-- navbar area -->
</header>
<!-- ========================= header end ========================= -->

<!-- ========================= hero-section start ========================= -->
<section id="home" class="hero-section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="hero-content">
                    <h1 class="wow fadeInUp" data-wow-delay=".2s">
                        ESP XL ile IoT Deneyimi
                    </h1>
                    <p class="wow fadeInUp" data-wow-delay=".4s">
                        Önder Grup bünyesinde geliştirilen tamamen IoT deneyimi sunan ESP XL ile operasyonlarınızı dilediğiniz yerden kontrol edin.
                    </p>
                    <a (click)="redirectToLogin()" class="main-btn btn-hover wow fadeInUp" data-wow-delay=".6s">Giriş Yap / Kayıt Ol</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="hero-img wow fadeInUp" data-wow-delay=".5s">
                    <img src="../../../../assets/img/hero/hero-img-1.png" alt="" class="img-1">
                    <img src="../../../../assets/img/hero/hero-img-2.png" alt="" class="img-2">
                    <img src="../../../../assets/img/hero/hero-img-3.png" alt="" class="img-3">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========================= hero-section end ========================= -->

<!-- ========================= client-logo-section start ========================= -->
<section class="client-logo-section">
    <div class="container">
        <div class="client-logo-wrapper">
            <div class="single-logo">
                <img src="../../../../assets/img/client-logo/client-logo-1.png" alt="">
            </div>
            <div class="single-logo">
                <img src="../../../../assets/img/client-logo/client-logo-2.png" alt="">
            </div>
            <div class="single-logo">
                <img src="../../../../assets/img/client-logo/client-logo-3.png" alt="">
            </div>
            <div class="single-logo">
                <img src="../../../../assets/img/client-logo/client-logo-4.png" alt="">
            </div>
            <div class="single-logo">
                <img src="../../../../assets/img/client-logo/client-logo-5.png" alt="">
            </div>
            <div class="single-logo">
                <img src="../../../../assets/img/client-logo/client-logo-6.png" alt="">
            </div>
            <div class="single-logo">
                <img src="../../../../assets/img/client-logo/client-logo-7.png" alt="">
            </div>
            <div class="single-logo">
                <img src="../../../../assets/img/client-logo/client-logo-8.png" alt="">
            </div>
            <div class="single-logo">
                <img src="../../../../assets/img/client-logo/client-logo-9.png" alt="">
            </div>
            <div class="single-logo">
                <img src="../../../../assets/img/client-logo/client-logo-10.png" alt="">
            </div>
            <div class="single-logo">
                <img src="../../../../assets/img/client-logo/client-logo-11.png" alt="">
            </div>
            <div class="single-logo">
                <img src="../../../../assets/img/client-logo/client-logo-12.png" alt="">
            </div>
        </div>
    </div>
</section>
<!-- ========================= client-logo-section end ========================= -->

<!-- ========================= feature-section start ========================= -->
<section id="feature" class="feature-section pt-140">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xxl-5 col-xl-6 col-lg-7">
                <div class="section-title text-center mb-30">
                    <h1 class="mb-25 wow fadeInUp" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">Neden ESP XL</h1>
                    <p class="wow fadeInUp" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">Firmanız için ESP XL tercih etmenizi kolaylaştıracak 3 sebep.</p>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-8 col-sm-10">
                <div class="single-feature">
                    <div class="icon color-1">
                        <i class="lni lni-pointer-up"></i>
                    </div>
                    <div class="content">
                        <h3>Kolay Kullanım</h3>
                        <p>Dilediğiniz platformdan tüm makinelerinizi ve makinelerinizin tüm verilerini kontrol edebilirsiniz.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 col-sm-10">
                <div class="single-feature">
                    <div class="icon color-2">
                        <i class="lni lni-revenue"></i>
                    </div>
                    <div class="content">
                        <h3>Zamandan ve Bütçeden Tasarruf</h3>
                        <p>ESP XL ile makine bakımlarınızı ve arızalarınızı çok hızlı bir şekilde gidererek operasyonlarınızı hızlıca devam ettirebilirsiniz.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 col-sm-10">
                <div class="single-feature">
                    <div class="icon color-3">
                        <i class="lni lni-support"></i>
                    </div>
                    <div class="content">
                        <h3>7/24 Hızlı Arıza Tespiti</h3>
                        <p>ESP XL ile arızalarınız çok hızlı bir şekilde otomatik olarak tespit edilir. Bununla birlikte dilediğiniz zaman mobil uygulamamızdan destek talebi oluşturarak detaylı bir analiz raporu talep edebilirsiniz.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========================= feature-section end ========================= -->

<section id="about" class="department-section pt-120">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="section-title mb-60 text-center">
                    <h1 class="mb-25 wow fadeInUp" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">Önder Grup Mobil Uygulaması</h1>
                    <p class="wow fadeInUp" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">İşte "Önder Grup" mobil uygulamamız üzerinden <br class="d-none d-lg-block"> yapabileceğiniz tüm işlemler.</p>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-xl-3 col-lg-3">
                <div class="single-department">
                    <span></span>
                    <h3>General</h3>
                    <p>Lorem ipsum dolor samet consenter ching elitr serewd diam nonumy.</p>
                </div>
                <div class="single-department">
                    <span></span>
                    <h3>Ophthalmology</h3>
                    <p>Lorem ipsum dolor samet consenter ching elitr serewd diam nonumy.</p>
                </div>
                <div class="single-department">
                    <span></span>
                    <h3>Neurology</h3>
                    <p>Lorem ipsum dolor samet consenter ching elitr serewd diam nonumy.</p>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="middle-image">
                    <img src="../../../../assets/img/department/department.png" alt="" class="w-100">
                </div>
            </div>
            <div class="col-xl-3 col-lg-3">
                <div class="single-department">
                    <span></span>
                    <h3>Dental</h3>
                    <p>Lorem ipsum dolor samet consenter ching elitr serewd diam nonumy.</p>
                </div>
                <div class="single-department">
                    <span></span>
                    <h3>Cardiology</h3>
                    <p>Lorem ipsum dolor samet consenter ching elitr serewd diam nonumy.</p>
                </div>
                <div class="single-department">
                    <span></span>
                    <h3>Laboratory</h3>
                    <p>Lorem ipsum dolor samet consenter ching elitr serewd diam nonumy.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="explore" class="steps-section pt-120">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-5">
                <div class="steps-image">
                    <img src="../../../../assets/img/steps/steps.png" alt="" class="w-100">
                </div>
            </div>
            <div class="col-xl-6 col-lg-7">
                <div class="steps-content">
                    <div class="section-title mb-60">
                        <h1 class="mb-35">Nasıl Kullanacağım</h1>
                        <p>ESP XL tabanlı Önder Grup ürünlerimizden birini satın aldıktan sonra aşağıdaki işlemleri yapmanız yeterlidir.</p>
                    </div>
                    <div class="single-department">
                        <span></span>
                        <h3>Mobil Uygulamamızı Kurun</h3>
                        <p>Kullandığınız cep telefonu markanıza uygun uygulama marketine giderek "Önder Grup" olarak uygulamamızı aratın ve uygulamamızı kurun. Dilerseniz web sitemizin en altında ki butonlardan da faydalanabilirsiniz.</p>
                    </div>
                    <div class="single-department">
                        <span></span>
                        <h3>Kayıt Ol</h3>
                        <p>Mobil uygulamamız üzerinden bir hesap oluşturun ve mail adresinizi doğrulayın.</p>
                    </div>
                    <div class="single-department">
                        <span></span>
                        <h3>Makinenizi Eşleştirin</h3>
                        <p>Satın almış olduğunuz makinenizi mobil uygulamamız üzerinden hesabınız ile eşleştirin.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========================= faq-section start ========================= -->
<section id="faq" class="faq-section pt-120">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xxl-5 col-xl-6 col-lg-7">
                <div class="section-title text-center mb-60">
                    <h1 class="mb-25 wow fadeInUp" data-wow-delay=".2s">Sıkça Sorulan Sorular</h1>
                    <p class="mb-25 wow fadeInUp" data-wow-delay=".2s">ESP XL Kartı Hakkında Sıkça Sorulan Sorular ve Cevapları.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="accordion faq-wrapper" id="accordionExample">
                    <div class="single-faq">
                        <button class="w-100" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Makinem Arıza Verdiğinde Ne Oluyor?
                        </button>

                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="faq-content">
                                Makineniz arıza durumuna geçtiğinde anında bir bildirim alırsınız. Bu bildirimi yalnızca makine sahibi olarak siz değil hesabınıza eklediğiniz tüm alt kullanıcılarınız da alır.
                            </div>
                        </div>
                    </div>
                    <div class="single-faq">
                        <button class="w-100 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Hesabıma Nasıl Makine Ekleyeceğim?
                        </button>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                            <div class="faq-content">
                                Satın alma işlemini tamamladığınız ve teslim aldığınız makinenizin yanında bulunan QR kodu mobil uygulamamızda okutarak makinenizi hesabınıza ekleyebilirsiniz.
                            </div>
                        </div>
                    </div>
                    <div class="single-faq">
                        <button class="w-100 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Arıza Tespit Raporu Nedir?
                        </button>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                            <div class="faq-content">
                                Arıza tespit raporu Önder Grup IoT sisteminin makineniz hata durumuna geçtiğinde hızlıca makinenizi uzaktan analiz ederek oluşturduğu ön inceleme raporudur. Bu rapor doğrudan tarafımıza ulaştırılır ve arıza tespiti sürecini hızlandırır.
                            </div>
                        </div>
                    </div>
                    <div class="single-faq">
                        <button class="w-100 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            Makinemin Bakım Kayıtlarını Görüntüleyebilir miyim?
                        </button>
                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                            <div class="faq-content">
                                Tabii ki evet. Makineniz için oluşturulan tüm bakım kayıtlarını ve hangi yetkilinin ne zaman bakım yaptığını dilediğiniz zaman mobil uygulamamızdan görüntüleyebilirsiniz.
                            </div>
                        </div>
                    </div>
                    <div class="single-faq">
                        <button class="w-100 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            Nedir Bu Alt Kullanıcı Sistemi?
                        </button>
                        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                            <div class="faq-content">
                                Alt kullanıcılar bir nevi şirketinizin çalışanlarıdır. Hesabınıza makine eklediğiniz zaman bu makinenin detaylarını yalnızca siz görüntülersiniz. Eğer şirketinizde ki farklı departmanlardan farklı çalışanlarınızın da makinelerinizi görüntülemesini istiyorsanız mobil uygulamamız üzerinden kendi hesabınıza ait alt kullanıcı oluşturabilirsiniz. Böylece alt kullanıcılarınız makinelerinizi görüntüleyerek herhangi bir durumda aksiyon alabilir.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="faq-image">
                    <img src="../../../../assets/img/faq/faq-img.svg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========================= faq-section end ========================= -->

<!-- ========================= footer start ========================= -->
<footer id="footer" class="footer">
    <div class="container">
        <div class="widget-wrapper">
            <div class="row">
                <div class="col-xl-2 col-md-6">
                    <div class="footer-widget">
                        <h3>Hakkımızda</h3>
                        <ul class="links">
                            <li> <a href="https://www.ondergrup.com/iletisim/">İletişim</a> </li>
                            <li> <a href="https://www.ondergrup.com/tarihce/">Tarihçe</a> </li>
                            <li> <a href="https://www.ondergrup.com/referanslar/">Referanslar</a> </li>
                            <li> <a href="https://www.ondergrup.com/hakkimizda/">Hakkımızda</a> </li>
                            <li> <a href="https://www.ondergrup.com/diger-markalarimiz/">Diğer Markalarımız</a> </li>
                            <li> <a href="https://www.ondergrup.com/kategori/fuar/">Fuarlar</a> </li>
                            <li> <a href="https://www.ondergrup.com/kategori/haber/">Bizden Haberler</a> </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="footer-widget">
                        <h3>Ürün Grupları</h3>
                        <ul class="links">
                            <li> <a href="https://www.ondergrup.com/urun/makasli-yuk-platformlari/">Yük Platformları</a> </li>
                            <li> <a href="https://www.ondergrup.com/urun/personel-yukseltici-platformlar/">Personel Yükseltici Platformları</a> </li>
                            <li> <a href="https://www.ondergrup.com/urun/yuk-asansorleri/">Yük Asansörleri</a> </li>
                            <li> <a href="https://www.ondergrup.com/urun/yukleme-rampalari/">Yükleme Rampaları</a> </li>
                            <li> <a href="https://www.ondergrup.com/urun/otopark-sistemleri/">Otopark Sistemleri</a> </li>
                            <li> <a href="https://www.ondergrup.com/urun/kaldirma-tasima-makinalari/">Kaldırma Taşıma Makinaları</a> </li>
                            <li> <a href="https://www.ondergrup.com/urun/endustriyel-calisma-ve-depolama-ekipmanlari/">Endüstriyel Çalışma ve Depolama Ekipmanları</a> </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="footer-widget">
                        <h3>Destek</h3>
                        <ul class="links">
                            <li> <a href="https://www.ondergrup.com/destek/">Parça ve Servis</a> </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6">
                    <div class="footer-widget">
                        <h3>Mobil Uygulamamız</h3>
                        <ul class="download">
                            <li>
                                <a href="javascript:void(0)">
                                    <img src="../../../../assets/img/app-market/appstore.svg" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="https://play.google.com/store/apps/details?id=me.t3sl4.ondergrup&hl=tr">
                                    <img src="../../../../assets/img/app-market/playstore.svg" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="https://appgallery.huawei.com/app/C110188333">
                                    <img src="../../../../assets/img/app-market/huawei.svg" alt="">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="copy-right-wrapper">
            <div class="row">
                <div class="col-md-6">
                    <div class="copy-right">
                        <p>Design and Developed by <a href="https://hidirektor.com.tr" rel="nofollow" target="_blank">Halil İbrahim Direktör</a> </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="socials">
                        <ul>
                            <li>
                                <a href="https://www.linkedin.com/company/onder-lift-celik-mak/" target="_blank"> <i class="lni lni-linkedin-original"></i> </a>
                            </li>
                            <li>
                                <a href="https://www.youtube.com/@onderliftcelik" target="_blank"> <i class="lni lni-youtube"></i> </a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/onderliftcelik" target="_blank"> <i class="lni lni-facebook-filled"></i> </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- ========================= footer end ========================= -->

<!-- ========================= scroll-top ========================= -->
<a href="#" class="scroll-top btn-hover">
    <i class="lni lni-chevron-up"></i>
</a>
